Repository Star-Solution-FZCO/snail-orbit: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint, bandit, prettier

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: ruff-fix
        name: ruff-fix
        language: system
        entry: ruff check --fix app
        types_or: [ python, pyi ]
      - id: ruff-format
        name: ruff-format
        language: system
        entry: ruff format --no-cache app
        types_or: [ python, pyi ]
      - id: lint
        name: lint
        language: system
        entry: python3 app/lint.py
        types: [ python ]
      - id: bandit
        name: bandit
        language: system
        pass_filenames: false
        entry: bandit -c app/pyproject.toml -r app
        types: [ python ]
      - id: prettier
        name: prettier
        language: system
        pass_filenames: false
        entry: yarn --cwd frontend prettier
        files: '^frontend/'
      - id: gen-openapi-schema
        name: gen-openapi-schema
        language: system
        pass_filenames: false
        entry: python3 app/manage.py api openapi gen -o app/openapi.json
        types_or: [ python, pyi ]
  - repo: https://github.com/gitleaks/gitleaks
    rev: v8.21.2
    hooks:
      - id: gitleaks

mentions in editor
  frontend/src/shared/ui/md_editors/v2/editors/visual.tsx
  frontend/src/shared/ui/md_editors/v2/hooks/use-editor-styles.ts
  frontend/src/shared/ui/md_editors/v2/nodes/mention_node.tsx
  frontend/src/shared/ui/md_editors/v2/plugins/mentions_plugin.tsx
  frontend/src/shared/ui/md_editors/v2/transformers/index.ts
  frontend/src/shared/ui/md_editors/v2/transformers/mention_transformer.ts
  frontend/src/shared/ui/md_renderer.tsx
  frontend/src/shared/ui/md_renderer/index.ts
  frontend/src/shared/ui/md_renderer/md_renderer.tsx
  frontend/src/shared/ui/md_renderer/md_wrapper.ts
  frontend/src/shared/ui/md_renderer/mention_renderer.tsx
Due: prettier

feat: allow multiple link types between same issues
  app/pm/api/routes/api/v1/issue/issue.py
  app/tests/api/test_api.py
Due: lint, bandit

feat: prioritize current user in user selection dropdowns
  app/pm/api/routes/api/v1/board.py
  app/pm/api/routes/api/v1/custom_field.py
  app/pm/api/views/select.py
Due: lint, bandit

feat: add mentions support with MentionsPlainTextPlugin and integrate into MDEditor
  frontend/src/shared/ui/md_editors/v2/editors/markdown.tsx
  frontend/src/shared/ui/md_editors/v2/plugins/mentions_plaintext_plugin.tsx
Due: prettier

feat: enhance user selection handling in mentions plugin with cleanup logic
  frontend/src/shared/ui/md_editors/v2/plugins/mentions_plaintext_plugin.tsx
  frontend/src/shared/ui/md_editors/v2/plugins/mentions_plugin.tsx
Due: prettier

feat: enhance user endpoints to support email-based operations
  app/openapi.json
  app/pm/api/routes/api/v1/activity.py
  app/pm/api/routes/api/v1/group.py
  app/pm/api/routes/api/v1/user.py
  app/pm/api/views/user.py
  app/pm/models/user.py
  app/poetry.lock
  app/pyproject.toml
  app/tests/api/test_user_api.py
Due: lint, bandit

mention identificator - user email instead userId
  frontend/src/shared/ui/md_editors/v2/hooks/use-toolbar-commands.ts
  frontend/src/shared/ui/md_editors/v2/nodes/mention_node.tsx
  frontend/src/shared/ui/md_editors/v2/plugins/mentions_plaintext_plugin.tsx
  frontend/src/shared/ui/md_editors/v2/plugins/mentions_plugin.tsx
  frontend/src/shared/ui/md_editors/v2/transformers/mention_transformer.ts
Due: prettier

Fix primitive inputs
  frontend/src/shared/model/mappers/issue.ts
Due: prettier

Fix comment encoding
  frontend/src/entities/issue/api/use_comment_operations.tsx
  frontend/src/modules/issues/components/issue/components/comment_card/comment_card.tsx
  frontend/src/pages/issues/draft.tsx
Due: prettier

feat: update styling for mentions dropdown to improve visibility and positioning
  frontend/src/shared/ui/md_editors/v2/plugins/mentions_plaintext_plugin.tsx
  frontend/src/shared/ui/md_editors/v2/plugins/mentions_plugin.tsx
Due: prettier

feat: pass project slug as labelValue to CustomFieldGroupForm in add project custom field dialog
  frontend/src/features/custom_fields/custom_field_group_form.tsx
  frontend/src/modules/projects/components/project_custom_fields_tab/add_project_custom_field_dialog.tsx
Due: prettier

Fix attempt 1
  frontend/src/entities/issue/api/use_draft_operations.tsx
  frontend/src/entities/issue/api/use_project_data.tsx
  frontend/src/modules/issues/widgets/modal_view/modal_view_draft.tsx
  frontend/src/pages/issues/draft.tsx
Due: prettier

Disabled encrypt description for new projects
  frontend/src/modules/projects/components/create_project_form.tsx
Due: prettier

fix: refactor UserGroupSelectPopover to consolidate user and group data fetching and improve filtering logic
  frontend/src/features/user_group_select/user_group_select_popover.tsx
Due: prettier

refactor: extract issue validation logic into reusable helpers
  app/pm/api/helpers/__init__.py
  app/pm/api/helpers/issue_validation.py
  app/pm/api/routes/api/v1/board.py
  app/pm/api/routes/api/v1/issue/issue.py
Due: lint, bandit

refactor: improve version management helper with better parsing and sorting
  contrib/helpers/version_mgmt.py
Due: lint, bandit

removed ckeditor from project
  frontend/package.json
  frontend/pnpm-lock.yaml
  frontend/src/modules/profile/components/workspace.tsx
  frontend/src/shared/model/types/settings.ts
  frontend/src/shared/ui/index.ts
  frontend/src/shared/ui/md_editor/commands.ts
  frontend/src/shared/ui/md_editor/editors/markdown.tsx
  frontend/src/shared/ui/md_editor/editors/theme.ts
  frontend/src/shared/ui/md_editor/editors/types.ts
  frontend/src/shared/ui/md_editor/editors/visual.tsx
  frontend/src/shared/ui/md_editor/hooks/use-editor-styles.ts
  frontend/src/shared/ui/md_editor/hooks/use-register-toolbar-commands.ts
  frontend/src/shared/ui/md_editor/hooks/use-toolbar-commands.ts
  frontend/src/shared/ui/md_editor/index.tsx
  frontend/src/shared/ui/md_editor/nodes/mention_node.tsx
  frontend/src/shared/ui/md_editor/plugins/focus_blur_plugin.ts
  frontend/src/shared/ui/md_editor/plugins/mentions_plaintext_plugin.tsx
  frontend/src/shared/ui/md_editor/plugins/mentions_plugin.tsx
  frontend/src/shared/ui/md_editor/plugins/toolbar/components/mode_switcher.tsx
  frontend/src/shared/ui/md_editor/plugins/toolbar/components/toolbar.tsx
  frontend/src/shared/ui/md_editor/plugins/toolbar/components/toolbar_button.ts
  frontend/src/shared/ui/md_editor/plugins/toolbar/markdown_editor_toolbar.tsx
  frontend/src/shared/ui/md_editor/plugins/toolbar/toolbar_plugin.tsx
  frontend/src/shared/ui/md_editor/plugins/toolbar/visual_editor_toolbar.tsx
  frontend/src/shared/ui/md_editor/transformers/index.ts
  frontend/src/shared/ui/md_editor/transformers/mention_transformer.ts
  frontend/src/shared/ui/md_editor/types.ts
  frontend/src/shared/ui/md_editor/utils.ts
  frontend/src/shared/ui/md_editors/index.tsx
  frontend/src/shared/ui/md_editors/v1/index.ts
  frontend/src/shared/ui/md_editors/v1/md_editor.css
  frontend/src/shared/ui/md_editors/v1/md_editor.tsx
  frontend/src/shared/ui/md_editors/v1/utils.ts
Due: prettier

feat: implement mention notifications with user subscriptions
  app/pm/api/helpers/user.py
  app/pm/api/routes/api/v1/issue/comment.py
  app/pm/api/routes/api/v1/issue/issue.py
  app/pm/tasks/actions/notification_batch.py
  app/pm/tasks/actions/notify.py
  app/pm/tasks/batch_processor.py
  app/pm/utils/mentions.py
  app/tests/utils/test_mentions.py
Due: lint, bandit

feat: add project slug identifier support to all endpoints
  app/openapi.json
  app/pm/api/routes/api/v1/project.py
  app/pm/models/project.py
  app/tests/api/test_project_api.py
Due: lint, bandit

fix: resolve permission table popup conflicts by extracting row component
  frontend/src/features/permission_table/permission_table.tsx
  frontend/src/features/permission_table/permission_table.types.ts
Due: prettier

refactor: improve custom field validation with specific error types
  app/pm/api/helpers/issue_validation.py
  app/pm/models/custom_fields/__init__.py
  app/pm/models/custom_fields/_base.py
  app/pm/models/custom_fields/enum_cf.py
  app/pm/models/custom_fields/owned_cf.py
  app/pm/models/custom_fields/plain.py
  app/pm/models/custom_fields/sprint_cf.py
  app/pm/models/custom_fields/state_cf.py
  app/pm/models/custom_fields/user_cf.py
  app/pm/models/custom_fields/version_cf.py
Due: lint, bandit

issue template
  frontend/src/app/routes/_authenticated/issues/create.lazy.tsx
  frontend/src/app/routes/_authenticated/issues/create.tsx
  frontend/src/app/routes/_authenticated/issues/draft.$draftId.lazy.tsx
  frontend/src/app/routes/_authenticated/issues/draft.$draftId.tsx
  frontend/src/entities/issue/api/use_issue_template.ts
  frontend/src/modules/issues/components/issue/components/draft_form.tsx
  frontend/src/modules/issues/components/issue/components/heading_controls/heading_controls.tsx
  frontend/src/modules/issues/components/issue/components/issue_form.tsx
  frontend/src/pages/issues/create.tsx
  frontend/src/pages/issues/draft.tsx
  frontend/src/shared/i18n/locales/en.json
  frontend/src/shared/model/mappers/issue.ts
Due: prettier

feat: update project ID references to use project slug for improved routing
  frontend/src/features/custom_fields/custom_field_form.tsx
  frontend/src/modules/projects/components/project_card.tsx
  frontend/src/pages/projects/create.tsx
Due: prettier

refactor: separate admin and regular user endpoints with proper permissions
  app/openapi.json
  app/pm/api/routes/api/v1/__init__.py
  app/pm/api/routes/api/v1/admin/__init__.py
  app/pm/api/routes/api/v1/admin/user.py
  app/pm/api/routes/api/v1/user.py
  app/pm/api/views/user.py
  app/tests/api/acl/test_acl_global_permissions.py
  app/tests/api/admin/__init__.py
  app/tests/api/admin/helpers.py
  app/tests/api/admin/test_admin_user_api.py
  app/tests/api/create.py
  app/tests/api/test_issue_permissions.py
  app/tests/api/test_user_api.py
  frontend/src/shared/model/api/user.api.ts
Due: lint, bandit, prettier

feat: implement bot user functionality with domain-based identification
  app/openapi.json
  app/pm/api/routes/api/v1/admin/user.py
  app/pm/api/routes/api/v1/profile.py
  app/pm/api/views/user.py
  app/pm/constants.py
  app/pm/models/user.py
  app/tests/api/admin/test_admin_user_api.py
  app/tests/api/create.py
  app/tests/api/custom_fields.py
  app/tests/api/test_api.py
  app/tests/api/test_user_api.py
Due: lint, bandit

feat: add user context support to OnChangeWorkflowScript
  app/pm/api/routes/api/v1/board.py
  app/pm/api/routes/api/v1/issue/issue.py
  app/pm/models/workflow.py
  app/pm/workflows/__init__.py
Due: lint, bandit

reports access management fix
  frontend/src/modules/reports/components/report_form/report_form_access.tsx
  frontend/src/pages/reports/view.tsx
  frontend/src/shared/model/api/report.api.ts
  frontend/src/shared/model/types/report.ts
Due: prettier

added validation for color field in custom fields options
  frontend/src/features/custom_fields/form_dialogs/enum_option_form_dialog.tsx
  frontend/src/features/custom_fields/form_dialogs/owned_option_form_dialog.tsx
  frontend/src/features/custom_fields/form_dialogs/sprint_option_form_dialog.tsx
  frontend/src/features/custom_fields/form_dialogs/state_option_form_dialog.tsx
  frontend/src/shared/i18n/locales/en.json
  frontend/src/shared/ui/color_picker/color_input_field.tsx
  frontend/src/shared/ui/daterange/daterange.tsx
Due: prettier

fix sprint multi option update
  app/pm/models/issue.py
Due: lint, bandit

improve report generation robustness and user field handling
  app/pm/api/routes/api/v1/report.py
Due: lint, bandit

refactor: use project slug instead of ID in frontend components
  frontend/src/modules/projects/components/general_info.tsx
  frontend/src/modules/projects/components/project_access.tsx
  frontend/src/modules/projects/components/project_custom_fields_tab/add_project_custom_field_dialog.tsx
  frontend/src/modules/projects/components/project_custom_fields_tab/project_custom_fields.tsx
  frontend/src/modules/projects/components/project_encryption_tab/project_encryption_tab.tsx
  frontend/src/modules/projects/components/project_favorite_button.tsx
  frontend/src/modules/projects/components/project_list_view.tsx
  frontend/src/modules/projects/components/project_subscribe_button.tsx
  frontend/src/modules/projects/components/project_workflows.tsx
  frontend/src/shared/model/api/project.api.ts
Due: prettier

fix link to the report list
  frontend/src/modules/reports/components/report_list_popover.tsx
Due: prettier

trivy: ignore CVE-2025-62727 since fastapi update has breaking changes
  .trivyignore
Due: none

feat: implement multi-value search with comma-separated field values
  app/pm/api/issue_query/search.py
  app/tests/search/test_search.py
Due: lint, bandit

python client: use single quoutes on models generation
  client-libs/py/scripts/generate_models.py
Due: lint, bandit

python client: update schema to 0.6.13 version
  client-libs/py/snail_orbit_client/generated/models.py
  client-libs/py/snail_orbit_client/models/__init__.py
  client-libs/py/snail_orbit_client/models/auth.py
  client-libs/py/snail_orbit_client/models/issues.py
  client-libs/py/snail_orbit_client/resources/users.py
Due: lint, bandit

refactor: replace dayjs imports with shared date module for consistency
  frontend/src/entities/custom_fields/utils.tsx
  frontend/src/features/custom_fields/custom_fields_chip_parser.tsx
  frontend/src/features/custom_fields/custom_fields_parser.tsx
  frontend/src/features/custom_fields/default_value_input.tsx
  frontend/src/features/custom_fields/form_dialogs/sprint_option_form_dialog.tsx
  frontend/src/features/custom_fields/form_dialogs/version_option_form_dialog.tsx
  frontend/src/features/custom_fields/options_editors/sprint_options_editor.tsx
  frontend/src/features/custom_fields/options_editors/version_options_editor.tsx
  frontend/src/main.tsx
  frontend/src/modules/issues/components/issue/components/attachment_list_item.tsx
  frontend/src/modules/issues/components/issue/components/comment_card/comment_card.tsx
  frontend/src/modules/issues/components/issue/components/comment_card/comment_card_view.tsx
  frontend/src/modules/issues/components/issue/components/issue_history/field_changes.tsx
  frontend/src/modules/issues/components/issue/components/issue_history/issue_history.tsx
  frontend/src/modules/issues/components/issue/components/issue_meta.tsx
  frontend/src/modules/issues/components/list/issue_row/update_time.tsx
  frontend/src/modules/profile/components/account_security.tsx
  frontend/src/modules/profile/components/api_tokens.tsx
  frontend/src/shared/date.ts
  frontend/src/shared/ui/daterange/daterange.tsx
  frontend/src/shared/ui/fields/form_date/form_date.tsx
  frontend/src/widgets/query_builder/query_builder_fields_parser.tsx
Due: prettier

feat: enhance UserAvatar component to support bot indicator with badge
  frontend/src/shared/ui/user_avatar.tsx
Due: prettier
