Repository Star-Solution-FZCO/snail-orbit: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint, bandit, prettier

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: ruff-fix
        name: ruff-fix
        language: system
        entry: ruff check --fix app
        types_or: [ python, pyi ]
      - id: ruff-format
        name: ruff-format
        language: system
        entry: ruff format --no-cache app
        types_or: [ python, pyi ]
      - id: lint
        name: lint
        language: system
        entry: python3 app/lint.py
        types: [ python ]
      - id: bandit
        name: bandit
        language: system
        pass_filenames: false
        entry: bandit -c app/pyproject.toml -r app
        types: [ python ]
      - id: prettier
        name: prettier
        language: system
        pass_filenames: false
        entry: yarn --cwd frontend prettier
        files: '^frontend/'
      - id: gen-openapi-schema
        name: gen-openapi-schema
        language: system
        pass_filenames: false
        entry: python3 app/manage.py api openapi gen -o app/openapi.json
        types_or: [ python, pyi ]
  - repo: https://github.com/gitleaks/gitleaks
    rev: v8.21.2
    hooks:
      - id: gitleaks

feat: sort available fields alphabetically in query builder endpoint
  app/pm/api/routes/api/v1/issue/filters.py
Due: lint, bandit

dashboards ui
  frontend/package.json
  frontend/src/app/routes/_authenticated/dashboards/$dashboardId.lazy.tsx
  frontend/src/app/routes/_authenticated/dashboards/index.tsx
  frontend/src/app/routes/_authenticated/dashboards/list.lazy.tsx
  frontend/src/modules/dashboards/components/create_dashboard_dialog.tsx
  frontend/src/modules/dashboards/components/dashboard_access.tsx
  frontend/src/modules/dashboards/components/dashboard_form.tsx
  frontend/src/modules/dashboards/components/dashboard_list_item.tsx
  frontend/src/modules/dashboards/components/dashboard_list_popover.tsx
  frontend/src/modules/dashboards/components/dashboard_select.tsx
  frontend/src/modules/dashboards/components/dashboard_settings_dialog.tsx
  frontend/src/modules/dashboards/components/dashboard_skeleton.tsx
  frontend/src/modules/dashboards/components/dashboard_top_bar.tsx
  frontend/src/modules/dashboards/components/dashboard_widgets.tsx
  frontend/src/modules/dashboards/components/delete_dashboard_dialog.tsx
  frontend/src/modules/dashboards/components/delete_widget_dialog.tsx
  frontend/src/modules/dashboards/index.ts
  frontend/src/modules/dashboards/list.tsx
  frontend/src/modules/dashboards/view.tsx
  frontend/src/modules/dashboards/widgets/base.tsx
  frontend/src/modules/dashboards/widgets/heading.tsx
  frontend/src/modules/dashboards/widgets/issue_list_widget.tsx
  frontend/src/modules/dashboards/widgets/utils.ts
  frontend/src/modules/dashboards/widgets/widget_form_dialog.tsx
  frontend/src/modules/index.ts
  frontend/src/modules/issues/components/list/issue_row/issue_row.tsx
  frontend/src/modules/issues/components/list/issue_row/issue_row.types.ts
  frontend/src/shared/i18n/locales/en.json
  frontend/src/shared/model/api/dashboard.api.ts
  frontend/src/shared/model/api/index.ts
  frontend/src/shared/model/store.ts
  frontend/src/shared/model/types/dashboard.ts
  frontend/src/shared/ui/navbar/navbar.tsx
  frontend/src/shared/ui/not_found.tsx
  frontend/yarn.lock
Due: prettier

reports list
  frontend/src/app/routes/_authenticated/reports/$reportId.tsx
  frontend/src/app/routes/_authenticated/reports/index.tsx
  frontend/src/modules/reports/components/axis_select.tsx
  frontend/src/modules/reports/components/create_report_form.types.ts
  frontend/src/modules/reports/components/report_form.tsx
  frontend/src/modules/reports/components/report_form.types.ts
  frontend/src/modules/reports/components/report_list_item.tsx
  frontend/src/modules/reports/utils.ts
  frontend/src/pages/dashboards/list.tsx
  frontend/src/pages/reports/create.tsx
  frontend/src/pages/reports/index.ts
  frontend/src/pages/reports/list.tsx
  frontend/src/pages/reports/view.tsx
  frontend/src/shared/i18n/locales/en.json
  frontend/src/shared/model/api/report.api.ts
  frontend/src/shared/model/types/report.ts
  frontend/src/shared/ui/navbar/navbar.tsx
Due: prettier

dashboards improvement
  frontend/src/app/routes/_authenticated/reports/$reportId.tsx
  frontend/src/entities/custom_fields/enum_field.tsx
  frontend/src/entities/custom_fields/user_field.tsx
  frontend/src/modules/dashboards/components/dashboard_list_popover.tsx
  frontend/src/modules/dashboards/components/dashboard_select.tsx
  frontend/src/modules/dashboards/components/dashboard_top_bar.tsx
  frontend/src/modules/dashboards/components/dashboard_widgets.tsx
  frontend/src/modules/dashboards/widgets/base.tsx
  frontend/src/modules/dashboards/widgets/heading.tsx
  frontend/src/modules/dashboards/widgets/issue_list_widget.tsx
  frontend/src/modules/dashboards/widgets/types.ts
  frontend/src/modules/dashboards/widgets/widget_form_dialog.tsx
  frontend/src/modules/dashboards/widgets/widget_renderer.tsx
  frontend/src/pages/dashboards/view.tsx
  frontend/src/shared/i18n/locales/en.json
Due: prettier

removed custom fields from the issue list widget element in the dashboard
  frontend/src/modules/dashboards/widgets/base.tsx
  frontend/src/modules/dashboards/widgets/heading.tsx
  frontend/src/modules/dashboards/widgets/issue_list_widget.tsx
  frontend/src/pages/projects/list.tsx
Due: prettier

Reports form
  frontend/src/app/routes/_authenticated/agiles/$boardId.tsx
  frontend/src/app/routes/_authenticated/reports/$reportId.tsx
  frontend/src/features/permission_table/permission_table.tsx
  frontend/src/features/permission_table/permission_table.types.ts
  frontend/src/features/tags/add_tag_permission_dialog.tsx
  frontend/src/modules/agile_boards/components/agile_board_form/agile_board_form.tsx
  frontend/src/modules/agile_boards/components/agile_board_form/tabs/access.tsx
  frontend/src/modules/dashboards/components/dashboard_top_bar.tsx
  frontend/src/modules/dashboards/components/dashboard_widgets.tsx
  frontend/src/modules/dashboards/widgets/issue_list_widget.tsx
  frontend/src/modules/dashboards/widgets/types.ts
  frontend/src/modules/dashboards/widgets/utils.ts
  frontend/src/modules/dashboards/widgets/widget_form_dialog.tsx
  frontend/src/modules/dashboards/widgets/widget_renderer.tsx
  frontend/src/modules/reports/components/report_form.types.ts
  frontend/src/modules/reports/components/report_form/axis_select.tsx
  frontend/src/modules/reports/components/report_form/report_form.types.ts
  frontend/src/modules/reports/components/report_form/report_form_access.tsx
  frontend/src/modules/reports/components/report_form/report_form_main_info.tsx
  frontend/src/modules/reports/components/report_list_popover.tsx
  frontend/src/modules/reports/components/report_select.tsx
  frontend/src/modules/reports/utils.ts
  frontend/src/pages/agile_boards/view.tsx
  frontend/src/pages/dashboards/view.tsx
  frontend/src/pages/reports/components/report_edit_section.tsx
  frontend/src/pages/reports/components/reports_top_bar.tsx
  frontend/src/pages/reports/create.tsx
  frontend/src/pages/reports/view.tsx
  frontend/src/shared/i18n/locales/en.json
  frontend/src/shared/model/api/report.api.ts
  frontend/src/shared/model/api/tag.api.ts
  frontend/src/shared/model/types/agile_board.ts
  frontend/src/shared/model/types/dashboard.ts
  frontend/src/shared/model/types/group.ts
  frontend/src/shared/model/types/permission.ts
  frontend/src/shared/model/types/report.ts
  frontend/src/shared/model/types/search.ts
  frontend/src/shared/ui/link.tsx
  frontend/src/shared/utils/permissions/checks.ts
  frontend/src/widgets/permissions_editor/permissions_editor.tsx
Due: prettier

dashboard creation dialog has been replaced with a separate page
  frontend/src/app/routes/_authenticated/dashboards/create.lazy.tsx
  frontend/src/modules/dashboards/components/create_dashboard_dialog.tsx
  frontend/src/modules/dashboards/components/dashboard_list_popover.tsx
  frontend/src/modules/dashboards/components/dashboard_select.tsx
  frontend/src/modules/dashboards/components/dashboard_top_bar.tsx
  frontend/src/modules/dashboards/components/dashboard_widgets.tsx
  frontend/src/modules/dashboards/widgets/issue_list_widget.tsx
  frontend/src/pages/dashboards/create.tsx
  frontend/src/pages/dashboards/list.tsx
  frontend/src/shared/ui/navbar/navbar.tsx
Due: prettier

project custom fields rework
  frontend/src/features/custom_fields/confirm_custom_field_changes_dialog.tsx
  frontend/src/features/custom_fields/custom_field_form.tsx
  frontend/src/features/custom_fields/default_value_input.tsx
  frontend/src/features/custom_fields/options_editors/enum_options_editor.tsx
  frontend/src/features/custom_fields/options_editors/field_type_editor.tsx
  frontend/src/features/custom_fields/options_editors/owned_options_editor.tsx
  frontend/src/features/custom_fields/options_editors/state_options_editor.tsx
  frontend/src/features/custom_fields/options_editors/user_options_editor.tsx
  frontend/src/features/custom_fields/options_editors/version_options_editor.tsx
  frontend/src/modules/projects/components/project_custom_fields_tab/add_project_custom_field_dialog.tsx
  frontend/src/modules/projects/components/project_custom_fields_tab/bundle.tsx
  frontend/src/modules/projects/components/project_custom_fields_tab/custom_field_detail.tsx
  frontend/src/modules/projects/components/project_custom_fields_tab/field_edit_warning_dialog.tsx
  frontend/src/modules/projects/components/project_custom_fields_tab/project_available_custom_field_list.tsx
  frontend/src/modules/projects/components/project_custom_fields_tab/project_custom_fields.tsx
  frontend/src/modules/projects/utils.ts
  frontend/src/shared/i18n/locales/en.json
Due: prettier

fixed search in the list of available project fields
  app/pm/api/routes/api/v1/project.py
Due: lint, bandit

custom field form fixes
  frontend/src/features/custom_fields/confirm_custom_field_changes_dialog.tsx
  frontend/src/features/custom_fields/custom_field_form.tsx
  frontend/src/features/custom_fields/default_value_input.tsx
  frontend/src/shared/i18n/locales/en.json
Due: prettier

prioritization of sorting the list of projects by subscription and favorite status
  frontend/src/pages/projects/list.tsx
  frontend/src/shared/model/api/project.api.ts
Due: prettier

limit of the number of elements in the list of available project fields has been increased
  frontend/src/modules/projects/components/project_custom_fields_tab/project_available_custom_field_list.tsx
Due: prettier

direct addition of a field to the project
  frontend/src/modules/projects/components/project_custom_fields_tab/bundle.tsx
  frontend/src/modules/projects/components/project_custom_fields_tab/project_available_custom_field_list.tsx
  frontend/src/shared/i18n/locales/en.json
Due: prettier

package fixes
  frontend/package.json
  frontend/yarn.lock
Due: prettier

Rework of query builder and offside management
  frontend/src/app/routes/_authenticated.tsx
  frontend/src/modules/issues/components/issue/components/issue_custom_fields_chips.tsx
  frontend/src/modules/issues/components/issue/components/search_field.tsx
  frontend/src/pages/issues/list.tsx
  frontend/src/shared/ui/navbar/navbar.tsx
  frontend/src/shared/ui/offside_manager/offside_manager_provider.tsx
  frontend/src/widgets/query_builder/query_builder_offside.tsx
  frontend/src/widgets/query_builder/query_builder_provider.tsx
Due: prettier

Reports table stub
  frontend/package.json
  frontend/src/entities/reports/report_view_table.tsx
  frontend/src/modules/reports/components/report_view_widget/index.tsx
  frontend/src/modules/reports/components/report_view_widget/report_view_widget.tsx
  frontend/src/modules/reports/components/report_view_widget/utils.ts
  frontend/src/modules/reports/report.types.ts
  frontend/src/pages/reports/components/report_edit_section.tsx
  frontend/src/pages/reports/view.tsx
  frontend/src/shared/model/api/report.api.ts
  frontend/src/shared/model/types/report.ts
  frontend/yarn.lock
Due: prettier

fix report update (axis_2 can be None)
  app/pm/api/routes/api/v1/report.py
Due: lint, bandit

refactor: consolidate permission schemas and add missing endpoints
  app/openapi.json
  app/pm/api/routes/api/v1/board.py
  app/pm/api/routes/api/v1/dashboard.py
  app/pm/api/routes/api/v1/report.py
  app/pm/api/routes/api/v1/search.py
  app/pm/api/routes/api/v1/tag.py
  app/pm/api/views/permission.py
Due: lint, bandit

feat: add visibility indicators for issues with custom permissions
  frontend/src/modules/agile_boards/components/agile_card.tsx
  frontend/src/modules/dashboards/widgets/issue_list_widget.tsx
  frontend/src/modules/issues/components/issue/components/issue_meta.tsx
  frontend/src/modules/issues/components/list/issue_row/issue_row.tsx
  frontend/src/modules/issues/components/list/issue_row/issue_row.types.ts
  frontend/src/modules/issues/components/list/issue_row/issue_row_visibility.tsx
  frontend/src/modules/reports/components/report_view_widget/report_view_widget.tsx
  frontend/src/shared/i18n/locales/en.json
Due: prettier

feat: add favorite-first sorting for project list
  app/pm/api/routes/api/v1/project.py
Due: lint, bandit

Reports
  frontend/package.json
  frontend/src/entities/reports/report_view_bar_chart.tsx
  frontend/src/entities/reports/report_view_line_chart.tsx
  frontend/src/modules/reports/components/report_form/report_form.types.ts
  frontend/src/modules/reports/components/report_form/report_form_main_info.tsx
  frontend/src/modules/reports/components/report_form/report_type_select.tsx
  frontend/src/modules/reports/components/report_view_widget/report_view_widget.tsx
  frontend/src/modules/reports/report.types.ts
  frontend/src/pages/reports/components/report_edit_section.tsx
  frontend/src/pages/reports/view.tsx
  frontend/src/shared/i18n/locales/en.json
  frontend/src/shared/model/types/report.ts
  frontend/yarn.lock
Due: prettier

Revert "prioritization of sorting the list of projects by subscription and favorite status"
  frontend/src/pages/projects/list.tsx
  frontend/src/shared/model/api/project.api.ts
Due: prettier

feat: add gunicorn multi-worker support for FastAPI
  app/Dockerfile
  app/pm/cli/api.py
  app/poetry.lock
  app/pyproject.toml
Due: lint, bandit

fix: correct week multiplier and enhance duration validation regex
  frontend/src/shared/ui/spent_time_field.tsx
Due: prettier

Fix agile boards 1
  frontend/src/modules/agile_boards/components/agile_board.tsx
  frontend/src/modules/agile_boards/components/agile_card.tsx
  frontend/src/shared/ui/kanban/kanban.tsx
  frontend/src/shared/ui/kanban/kanban.types.ts
Due: prettier

yarn to pnpm
  frontend/package.json
  frontend/pnpm-lock.yaml
  frontend/pnpm-workspace.yaml
  frontend/src/app/routes/_authenticated/global-roles/$globalRoleId.tsx
  frontend/src/modules/dashboards/widgets/base.tsx
  frontend/src/modules/issues/components/issue/components/field_container.tsx
  frontend/src/modules/projects/components/project_custom_fields_tab/project_custom_fields.tsx
  frontend/src/pages/agile_boards/view.tsx
  frontend/src/pages/projects/create.tsx
  frontend/src/shared/ui/kanban/components/KanbanWrapper.tsx
  frontend/src/shared/ui/kanban/kanban.stories.tsx
  frontend/src/shared/ui/md_editors/v2/hooks/use-register-toolbar-commands.ts
  frontend/src/shared/ui/md_editors/v2/plugins/toolbar_button.ts
  frontend/src/shared/ui/md_renderer.tsx
  frontend/src/shared/ui/tab_panel.tsx
  frontend/tsconfig.app.json
  frontend/tsconfig.node.json
  frontend/vite.config.ts
  frontend/yarn.lock
Due: prettier

frontend ci: move to pnpm
  frontend/.dockerignore
  frontend/Dockerfile
Due: prettier

add frontend .dockeringore to the root directory
  .dockerignore
Due: none

fix project list for non-admin users
  app/pm/api/routes/api/v1/project.py
Due: lint, bandit

feat: allow email lookup in UserCustomField validation
  app/pm/models/custom_fields/user_cf.py
Due: lint, bandit

fix: resolve unhashable dict errors in two-axis user field reports
  app/pm/api/routes/api/v1/report.py
Due: lint, bandit

update authlib (CVE-2025-59420)
  app/poetry.lock
Due: none

user custom field validation: fix exception type for the ObjectId validation
  app/pm/models/custom_fields/user_cf.py
Due: lint, bandit

fix frontend Dockerfile and package.json
  frontend/Dockerfile
  frontend/package.json
Due: prettier

perf: optimize issue list performance with IssueListOutput
  app/openapi.json
  app/pm/api/routes/api/v1/board.py
  app/pm/api/routes/api/v1/issue/issue.py
  app/pm/api/views/issue.py
  client-libs/py/snail_orbit_client/generated/__init__.py
  client-libs/py/snail_orbit_client/generated/models.py
  client-libs/py/snail_orbit_client/models/__init__.py
  client-libs/py/snail_orbit_client/models/issues.py
  client-libs/py/snail_orbit_client/resources/issues.py
Due: lint, bandit

feat: add nullable user field support for custom field group select endpoint
  app/openapi.json
  app/pm/api/routes/api/v1/custom_field.py
  app/pm/api/views/custom_fields.py
  app/pm/api/views/select.py
Due: lint, bandit

wysiwyg mode for md editor
  frontend/package.json
  frontend/pnpm-lock.yaml
  frontend/pnpm-workspace.yaml
  frontend/src/shared/i18n/locales/en.json
  frontend/src/shared/model/types/settings.ts
  frontend/src/shared/ui/error_fallback.tsx
  frontend/src/shared/ui/md_editors/index.tsx
  frontend/src/shared/ui/md_editors/v1/md_editor.tsx
  frontend/src/shared/ui/md_editors/v1/utils.ts
  frontend/src/shared/ui/md_editors/v2/editor.css
  frontend/src/shared/ui/md_editors/v2/editors/markdown.tsx
  frontend/src/shared/ui/md_editors/v2/editors/theme.ts
  frontend/src/shared/ui/md_editors/v2/editors/types.ts
  frontend/src/shared/ui/md_editors/v2/editors/visual.tsx
  frontend/src/shared/ui/md_editors/v2/hooks/use-editor-styles.ts
  frontend/src/shared/ui/md_editors/v2/hooks/use-register-toolbar-commands.ts
  frontend/src/shared/ui/md_editors/v2/index.ts
  frontend/src/shared/ui/md_editors/v2/index.tsx
  frontend/src/shared/ui/md_editors/v2/plugins/focus_blur_plugin.ts
  frontend/src/shared/ui/md_editors/v2/plugins/toolbar/components/mode_switcher.tsx
  frontend/src/shared/ui/md_editors/v2/plugins/toolbar/components/toolbar.tsx
  frontend/src/shared/ui/md_editors/v2/plugins/toolbar/components/toolbar_button.ts
  frontend/src/shared/ui/md_editors/v2/plugins/toolbar/markdown_editor_toolbar.tsx
  frontend/src/shared/ui/md_editors/v2/plugins/toolbar/toolbar_plugin.tsx
  frontend/src/shared/ui/md_editors/v2/plugins/toolbar/visual_editor_toolbar.tsx
  frontend/src/shared/ui/md_editors/v2/plugins/toolbar_plugin.tsx
  frontend/src/shared/ui/md_editors/v2/theme.ts
  frontend/src/shared/ui/md_editors/v2/transformers/index.ts
  frontend/src/shared/ui/md_editors/v2/utils.ts
  frontend/src/shared/ui/md_renderer.tsx
Due: prettier

added a warning about editing a field that is used in multiple fields for administrators
  frontend/pnpm-lock.yaml
  frontend/src/features/custom_fields/field_edit_warning_dialog.tsx
  frontend/src/features/custom_fields/options_editors/field_type_editor.tsx
  frontend/src/modules/custom_fields/components/custom_field_edit_view.tsx
  frontend/src/modules/projects/components/project_custom_fields_tab/custom_field_detail.tsx
  frontend/src/shared/ui/md_editors/v2/transformers/index.ts
Due: prettier

fix: add pnpm-lock.yaml to .prettierignore
  frontend/.prettierignore
Due: prettier
