Repository Star-Solution-FZCO/snail-orbit: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint, bandit, prettier

lint:
  name: lint
  language: system
  entry: python3 app/lint.py

bandit:
  name: bandit
  language: system
  entry: bandit -c app/pyproject.toml -r app

prettier:
  name: prettier
  language: system
  pass_filenames: false
  entry: yarn --cwd frontend prettier

Handle 'schedule' field explicitly in workflow updates.
  app/pm/api/routes/api/v1/workflow.py
Due: lint, bandit

Add new i18n keys for workflows form and update messages
  frontend/src/i18n/locales/en.json
Due: prettier

front: Searches refactor
  frontend/src/components/fields/form_autocomplete/form_autocomplete_content.tsx
  frontend/src/features/permission_table/permission_table.tsx
  frontend/src/features/permission_table/permission_table.types.ts
  frontend/src/i18n/locales/en.json
  frontend/src/modules/agile_boards/components/agile_board_form/agile_board_form.tsx
  frontend/src/modules/agile_boards/components/agile_board_form/tabs/access.tsx
  frontend/src/modules/agile_boards/view.tsx
  frontend/src/modules/issues/components/issue/components/search_field.tsx
  frontend/src/store/api/search.api.ts
  frontend/src/types/search.ts
  frontend/src/widgets/search_select/edit_search_dialog.tsx
  frontend/src/widgets/search_select/search_select.utils.ts
  frontend/src/widgets/search_select/search_select_popover.tsx
  frontend/src/widgets/search_select/tabs/access.tsx
  frontend/src/widgets/search_select/tabs/main.tsx
Due: prettier

issue activity sort
  app/pm/api/routes/api/v1/issue/feed.py
  frontend/package.json
  frontend/src/App.tsx
  frontend/src/components/page_title.tsx
  frontend/src/i18n/locales/en.json
  frontend/src/modules/issues/components/issue/components/issue_activities.tsx
  frontend/src/store/api/issue.api.ts
  frontend/yarn.lock
Due: lint, bandit, prettier

fix: reset form values on defaultValues change in CustomFieldForm
  frontend/src/modules/custom_fields/components/custom_field_form.tsx
Due: prettier

feat: enhance markdown editor with horizontal line support and sync source editing functionality
  frontend/src/components/md_editor/md_editor.tsx
  frontend/src/components/md_editor/utils.ts
Due: prettier

feat: truncate long links in markdown preview to improve readability
  frontend/src/components/md_editor/md_editor.tsx
Due: prettier

Fixed duplication of agile board form sent
  frontend/src/components/agile/issue_card/issue_card.styles.tsx
  frontend/src/components/kanban/components/container/container.styles.tsx
  frontend/src/components/kanban/components/item/Item.styles.tsx
  frontend/src/modules/agile_boards/components/agile_board_form/agile_board_form.tsx
  frontend/src/modules/agile_boards/view.tsx
Due: prettier

Lockfile
  node_modules/.yarn-integrity
  yarn.lock
Due: none

Fixes
  frontend/src/modules/agile_boards/components/agile_board.tsx
  frontend/src/modules/agile_boards/components/agile_card.tsx
  frontend/src/modules/agile_boards/view.tsx
  frontend/src/modules/issues/widgets/modal_view/modal_view.types.ts
  frontend/src/modules/issues/widgets/modal_view/modal_view_context.tsx
  frontend/src/modules/issues/widgets/modal_view/modal_view_issue.tsx
  frontend/src/modules/issues/widgets/modal_view/modal_view_loader.tsx
  frontend/src/modules/issues/widgets/modal_view/modal_view_provider.tsx
  frontend/src/modules/issues/widgets/modal_view/use_modal_view.tsx
  frontend/src/routes/_authenticated/agiles/$boardId.tsx
  frontend/src/theme/contrast-text.tsx
Due: prettier

Fixes
  frontend/src/theme/contrast-text.tsx
Due: prettier

Removed obsolete lock file
  node_modules/.yarn-integrity
  yarn.lock
Due: none

Add support for managing user encryption keys
  app/pm/api/routes/api/v1/settings/__init__.py
  app/pm/api/routes/api/v1/settings/encryption_key.py
  app/pm/models/user.py
Due: lint, bandit

Add encryption metadata support for issues attachments and comments
  app/pm/api/routes/api/v1/issue/comment.py
  app/pm/api/routes/api/v1/issue/issue.py
  app/pm/api/views/issue.py
  app/pm/models/__init__.py
  app/pm/models/_encryption.py
  app/pm/models/issue.py
  app/pm/models/user.py
Due: lint, bandit

Add tests for encryption key settings API endpoints
  app/tests/api/test_api.py
Due: lint, bandit

Add subscription functionality for issues and projects
  app/pm/api/routes/api/v1/project.py
  frontend/src/components/index.ts
  frontend/src/components/subscribe_button.tsx
  frontend/src/i18n/locales/en.json
  frontend/src/modules/issues/components/issue/components/issue_heading.tsx
  frontend/src/modules/issues/components/issue/components/issue_subscribe_button.tsx
  frontend/src/modules/issues/components/list/issue_row/issue_row.tsx
  frontend/src/modules/projects/components/project_card.tsx
  frontend/src/modules/projects/view.tsx
  frontend/src/store/api/issue.api.ts
  frontend/src/store/api/project.api.ts
  frontend/src/store/api/workflow.api.ts
  frontend/src/types/project.ts
Due: lint, bandit, prettier

Refactor project route models to remove CRUD dependencies, add avatar and ai_description to the project's list output
  app/pm/api/routes/api/v1/project.py
Due: lint, bandit

Remove redundant CRUD factory classes from the codebase
  app/pm/api/views/factories/__init__.py
  app/pm/api/views/factories/crud.py
Due: lint, bandit

gitleaks: ignore Pipfile.lock
  .gitleaks.toml
Due: none

Restrict project listing to user permissions
  app/pm/api/routes/api/v1/project.py
Due: lint, bandit

Path conditions:
  lint: any of: \.py$
  bandit: any of: \.py$
  prettier: any of: ^frontend/
