Repository Star-Solution-FZCO/snail-orbit: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint, bandit, prettier

lint:
  name: lint
  language: system
  entry: python3 app/lint.py

bandit:
  name: bandit
  language: system
  entry: bandit -c app/pyproject.toml -r app

prettier:
  name: prettier
  language: system
  pass_filenames: false
  entry: yarn --cwd frontend prettier

fixed issue fetching in add links component when query is empty
  frontend/src/modules/issues/components/issue/components/issue_links/add_links.tsx
  frontend/src/shared/utils/query.ts
Due: prettier

Spent time field fix
  frontend/src/features/custom_fields/duration_chip.tsx
  frontend/src/features/custom_fields/duration_field.tsx
  frontend/src/modules/issues/components/issue/components/comment_card/comment_card_edit.tsx
  frontend/src/modules/issues/components/issue/components/comments/create_comment_form.tsx
  frontend/src/modules/issues/components/issue/components/issue_history/field_changes.tsx
  frontend/src/shared/ui/fields/form_date/form_date.tsx
  frontend/src/shared/ui/fields/form_duration/form_duration.styles.tsx
  frontend/src/shared/ui/fields/form_duration/form_duration.tsx
  frontend/src/shared/ui/spent_time_field.tsx
  frontend/src/widgets/issue/custom_fields_chip_parser/custom_fields_chip_parser.tsx
  frontend/src/widgets/issue/custom_fields_parser/custom_fields_parser.tsx
Due: prettier

feat: add comprehensive query builder API with bidirectional functionality
  app/openapi.json
  app/pm/api/routes/api/v1/issue/filters.py
  app/pm/api/views/query_builder.py
  app/tests/api/test_query_builder.py
Due: lint, bandit

Spent time field fix
  frontend/src/widgets/issue/custom_fields_chip_parser/custom_fields_chip_parser.tsx
Due: prettier

feat: add current_permission field to permission-based models using mixin pattern
  app/openapi.json
  app/pm/api/routes/api/v1/board.py
  app/pm/api/routes/api/v1/report.py
  app/pm/api/routes/api/v1/search.py
  app/pm/models/board.py
  app/pm/models/permission.py
  app/pm/models/report.py
  app/pm/models/search.py
Due: lint, bandit

feat: implement comprehensive PermissionRecord-based access control for Tag model
  app/migrations/versions/20250723000000_add_tag_permissions.py
  app/openapi.json
  app/pm/api/routes/api/v1/tag.py
  app/pm/models/tag.py
  app/tests/api/create.py
  app/tests/api/test_api.py
Due: lint, bandit

feat: implement tag permission filtering for issue displays
  app/pm/api/context.py
  app/pm/api/routes/api/v1/board.py
  app/pm/api/routes/api/v1/issue/issue.py
  app/pm/api/routes/api/v1/tag.py
  app/pm/api/views/issue.py
  app/tests/api/test_api.py
Due: lint, bandit

fix: show issue count display when count is 0
  frontend/src/modules/issues/components/list/issues_list.tsx
Due: prettier

feat: add custom field copy endpoint with default value support
  app/openapi.json
  app/pm/api/routes/api/v1/custom_field.py
  app/tests/api/custom_fields.py
  app/tests/api/test_api.py
Due: lint, bandit

feat: add project available workflows endpoint with frontend integration
  app/openapi.json
  app/pm/api/routes/api/v1/project.py
  app/tests/api/create.py
  app/tests/api/test_project_api.py
  frontend/src/modules/projects/components/project_workflows.tsx
  frontend/src/shared/model/api/project.api.ts
Due: lint, bandit, prettier

added field grouping into bundles in project settings in the custom fields tab
  frontend/src/modules/projects/components/project_custom_fields.tsx
  frontend/src/modules/projects/utils.ts
Due: prettier

fixed files filtering in lightbox state
  frontend/src/modules/issues/components/issue/components/attachment_cards.tsx
  frontend/src/modules/issues/components/issue/components/attachment_list_item.tsx
  frontend/src/modules/issues/components/issue/components/comment_card/comment_card.tsx
  frontend/src/modules/issues/components/issue/components/comment_card/comment_card_action_buttons.tsx
  frontend/src/modules/issues/components/issue/components/comment_card/comment_card_view.tsx
  frontend/src/modules/issues/components/issue/components/draft_attachments.tsx
  frontend/src/modules/issues/components/issue/components/issue_activities/issue_activities.tsx
  frontend/src/modules/issues/components/issue/components/issue_attachments.tsx
  frontend/src/modules/issues/components/issue/issue_modal.tsx
  frontend/src/modules/issues/components/issue/issue_view.tsx
  frontend/src/shared/model/api/issue.api.ts
  frontend/src/shared/ui/lightbox/context.ts
  frontend/src/shared/ui/lightbox/index.tsx
Due: prettier

added functionality for copying custom fields
  frontend/src/modules/agile_boards/components/agile_board.tsx
  frontend/src/modules/agile_boards/components/agile_board_form/components/card_colors_fields_form.tsx
  frontend/src/modules/agile_boards/components/agile_board_form/components/card_fields_form.tsx
  frontend/src/modules/agile_boards/components/agile_board_form/components/columns_form.tsx
  frontend/src/modules/agile_boards/components/agile_board_form/components/swimlanes_form.tsx
  frontend/src/modules/agile_boards/components/agile_board_form/components/swimlanes_select_popover.tsx
  frontend/src/modules/agile_boards/components/agile_board_form/tabs/access.tsx
  frontend/src/modules/agile_boards/components/agile_board_list_popover.tsx
  frontend/src/modules/agile_boards/components/agile_board_view_settings/agile_board_view_settings.tsx
  frontend/src/modules/agile_boards/components/create_agile_board_form/create_agile_board_form.tsx
  frontend/src/modules/agile_boards/list.tsx
  frontend/src/modules/agile_boards/utils/useFormatBoardIssues.tsx
  frontend/src/modules/custom_fields/components/copy_custom_field_dialog.tsx
  frontend/src/modules/custom_fields/components/custom_field_edit_view.tsx
  frontend/src/modules/custom_fields/components/custom_field_form.tsx
  frontend/src/modules/issues/components/list/issues_list_settings.tsx
  frontend/src/shared/i18n/locales/en.json
  frontend/src/shared/model/api/custom_fields.api.ts
  frontend/src/shared/ui/kanban/components/swim-line/SwimLine.tsx
Due: prettier

docs: add comprehensive ACL system architecture documentation
  docs/dev/ACL_SYSTEM_DOCUMENTATION.md
Due: none

Query builder rework
  frontend/src/entities/custom_fields/enum_chip.tsx
  frontend/src/entities/custom_fields/enum_field.tsx
  frontend/src/entities/custom_fields/group_select_field.tsx
  frontend/src/entities/custom_fields/input_field.tsx
  frontend/src/entities/custom_fields/owned_chip.tsx
  frontend/src/entities/custom_fields/user_field.tsx
  frontend/src/entities/custom_fields/utils.tsx
  frontend/src/entities/tag/tag_adornment.tsx
  frontend/src/entities/tag/tag_field.tsx
  frontend/src/entities/tag/tag_form_dialog.tsx
  frontend/src/entities/tag/tag_manager_popover.tsx
  frontend/src/features/custom_fields/custom_fields_chip_parser.tsx
  frontend/src/features/custom_fields/custom_fields_parser.tsx
  frontend/src/modules/agile_boards/components/agile_card.tsx
  frontend/src/modules/issues/components/issue/components/heading_tag_button.tsx
  frontend/src/modules/issues/components/issue/components/issue_custom_fields_chips.tsx
  frontend/src/modules/tags/components/tag_form_dialog/tag_form_dialog.helpers.ts
  frontend/src/modules/tags/components/tag_form_dialog/tag_form_dialog.types.ts
  frontend/src/modules/tags/components/tag_list/tag_list_popover.tsx
  frontend/src/shared/model/api/issue.api.ts
  frontend/src/shared/model/api/tag.api.ts
  frontend/src/shared/model/types/custom_fields.ts
  frontend/src/shared/model/types/tag.ts
  frontend/src/widgets/query_builder/add_field_button.tsx
  frontend/src/widgets/query_builder/query_builder.tsx
  frontend/src/widgets/query_builder/query_builder_fields_parser.tsx
  frontend/src/widgets/query_builder/utils.tsx
  frontend/src/widgets/query_builder/utils/get-query-builder-name.ts
  frontend/src/widgets/query_builder/utils/is-same-option.ts
Due: prettier

Query builder rework
  frontend/src/app/routes/_authenticated.tsx
  frontend/src/modules/agile_boards/view.tsx
  frontend/src/modules/issues/components/issue/components/search_field.tsx
  frontend/src/modules/issues/pages/list.tsx
  frontend/src/widgets/query_builder/query_builder.tsx
  frontend/src/widgets/query_builder/query_builder_fields_parser.tsx
  frontend/src/widgets/query_builder/query_builder_provider.tsx
Due: prettier

feat: add System Admins dynamic group for structured admin permissions
  app/openapi.json
  app/pm/api/app.py
  app/pm/models/group.py
Due: lint, bandit

feat: implement global roles system with access claims
  app/openapi.json
  app/pm/api/app.py
  app/pm/api/context.py
  app/pm/api/routes/api/v1/__init__.py
  app/pm/api/routes/api/v1/activity.py
  app/pm/api/routes/api/v1/board.py
  app/pm/api/routes/api/v1/global_role.py
  app/pm/api/routes/api/v1/group.py
  app/pm/api/routes/api/v1/issue/comment.py
  app/pm/api/routes/api/v1/issue/feed.py
  app/pm/api/routes/api/v1/issue/history.py
  app/pm/api/routes/api/v1/issue/issue.py
  app/pm/api/routes/api/v1/issue/spent_time.py
  app/pm/api/routes/api/v1/profile.py
  app/pm/api/routes/api/v1/project.py
  app/pm/api/routes/api/v1/role.py
  app/pm/api/routes/api/v1/user.py
  app/pm/api/views/global_role.py
  app/pm/api/views/role.py
  app/pm/models/__init__.py
  app/pm/models/global_role.py
  app/pm/models/group.py
  app/pm/models/issue.py
  app/pm/models/project.py
  app/pm/models/role.py
  app/pm/models/user.py
  app/pm/permissions.py
  app/tests/api/conftest.py
  app/tests/api/create.py
  app/tests/api/test_api.py
  app/tests/api/test_group_api.py
  app/tests/api/test_issue_permissions.py
  app/tests/api/test_project_api.py
Due: lint, bandit

feat: add global roles management UI
  frontend/src/app/routes/_authenticated/global-roles/$globalRoleId.tsx
  frontend/src/app/routes/_authenticated/global-roles/create.lazy.tsx
  frontend/src/app/routes/_authenticated/global-roles/index.lazy.tsx
  frontend/src/app/routes/_authenticated/users/$userId.tsx
  frontend/src/modules/global_roles/components/global_role_form.tsx
  frontend/src/modules/global_roles/components/global_role_permissions.tsx
  frontend/src/modules/global_roles/components/global_role_settings.tsx
  frontend/src/modules/global_roles/create.tsx
  frontend/src/modules/global_roles/index.ts
  frontend/src/modules/global_roles/list.tsx
  frontend/src/modules/global_roles/utils.ts
  frontend/src/modules/global_roles/view.tsx
  frontend/src/modules/index.ts
  frontend/src/modules/projects/components/general_info.tsx
  frontend/src/modules/projects/utils.ts
  frontend/src/modules/projects/view.tsx
  frontend/src/modules/users/components/add_user_global_role_dialog.tsx
  frontend/src/modules/users/components/user_global_roles.tsx
  frontend/src/modules/users/components/user_settings.tsx
  frontend/src/modules/users/utils.ts
  frontend/src/shared/model/api/global_role.api.ts
  frontend/src/shared/model/api/index.ts
  frontend/src/shared/model/api/user.api.ts
  frontend/src/shared/model/store.ts
  frontend/src/shared/model/types/global_role.ts
  frontend/src/shared/model/types/index.ts
  frontend/src/shared/ui/navbar/components/admin_settings_button.tsx
Due: prettier

feat: add access_claims field to IssueOutput with project permission inheritance
  app/openapi.json
  app/pm/api/views/issue.py
  app/tests/api/test_api.py
Due: lint, bandit

group system migration (irreversible)
  app/migrations/versions/20250808022412_group_system_refactor.py
Due: lint, bandit

feat: implement issue permissions management UI with access claims
  frontend/src/modules/issues/components/issue/components/add_issue_permission_dialog.tsx
  frontend/src/modules/issues/components/issue/components/issue_heading.tsx
  frontend/src/modules/issues/components/issue/components/issue_permissions.tsx
  frontend/src/modules/issues/components/issue/components/issue_permissions_dialog.tsx
  frontend/src/modules/issues/components/issue/components/share_issue_button.tsx
  frontend/src/shared/i18n/locales/en.json
  frontend/src/shared/model/api/issue.api.ts
Due: prettier

fix: enable group global permission inheritance in context resolution
  app/pm/api/context.py
Due: lint, bandit

feat: implement ACL system tests for global permissions
  app/tests/api/acl/__init__.py
  app/tests/api/acl/helpers.py
  app/tests/api/acl/test_acl_global_permissions.py
Due: lint, bandit

global roles refactoring
  frontend/src/modules/agile_boards/components/agile_board_form/tabs/access.tsx
  frontend/src/modules/global_roles/components/global_role_form.tsx
  frontend/src/modules/global_roles/components/global_role_permissions.tsx
  frontend/src/modules/global_roles/components/global_role_settings.tsx
  frontend/src/modules/global_roles/create.tsx
  frontend/src/modules/global_roles/list.tsx
  frontend/src/modules/global_roles/utils.ts
  frontend/src/modules/global_roles/view.tsx
  frontend/src/modules/users/components/add_user_global_role_dialog.tsx
  frontend/src/modules/users/components/user_form.tsx
  frontend/src/modules/users/components/user_general_settings.tsx
  frontend/src/modules/users/components/user_global_roles.tsx
  frontend/src/modules/users/utils.ts
  frontend/src/modules/users/view.tsx
  frontend/src/shared/i18n/locales/en.json
  frontend/src/shared/model/api/global_role.api.ts
  frontend/src/shared/model/api/index.ts
  frontend/src/shared/model/api/role.api.ts
  frontend/src/shared/model/store.ts
  frontend/src/shared/ui/navbar/components/admin_settings_button.tsx
Due: prettier

issue sharing (access management) refactoring
  frontend/src/modules/issues/components/issue/components/add_issue_permission_dialog.tsx
  frontend/src/modules/issues/components/issue/components/heading_controls.tsx
  frontend/src/modules/issues/components/issue/components/issue_heading.tsx
  frontend/src/modules/issues/components/issue/components/issue_permissions_dialog.tsx
  frontend/src/modules/issues/components/issue/components/permissions/add_issue_permission_dialog.tsx
  frontend/src/modules/issues/components/issue/components/permissions/issue_permissions_dialog.tsx
  frontend/src/modules/issues/components/issue/components/permissions/issue_permissions_list.tsx
  frontend/src/modules/issues/components/issue/components/permissions/issue_role_permissions.tsx
  frontend/src/modules/issues/components/issue/components/share_issue_button.tsx
  frontend/src/shared/i18n/locales/en.json
  frontend/src/shared/model/types/issue.ts
Due: prettier

issue permission inheritance ui
  frontend/src/modules/issues/components/issue/components/permissions/issue_permissions_list.tsx
  frontend/src/shared/i18n/locales/en.json
  frontend/src/shared/model/api/issue.api.ts
Due: prettier

feat: add dedicated endpoints for issue permission inheritance management
  app/openapi.json
  app/pm/api/routes/api/v1/issue/issue.py
Due: lint, bandit

fix: check for PROJECT_READ permission on the project GET endpoint
  app/pm/api/routes/api/v1/project.py
Due: lint, bandit

feat: add comprehensive ACL test coverage with inheritance management tests
  app/tests/api/acl/helpers.py
  app/tests/api/acl/test_acl_issue_permissions.py
  app/tests/api/acl/test_acl_project_permissions.py
  app/tests/api/acl/test_inheritance_endpoints.py
Due: lint, bandit

feat: add comprehensive ACL tests for direct sharing and permission resolution
  app/pm/api/routes/api/v1/board.py
  app/tests/api/acl/test_direct_sharing_permissions.py
  app/tests/api/acl/test_permission_resolution.py
Due: lint, bandit

multiple attachment deletion
  frontend/src/modules/issues/components/issue/components/attachment_cards.tsx
  frontend/src/modules/issues/components/issue/components/attachment_list_item.tsx
  frontend/src/modules/issues/components/issue/components/attachments_list.tsx
  frontend/src/modules/issues/components/issue/components/delete_attachment_dialog.tsx
  frontend/src/modules/issues/components/issue/components/draft_attachments.tsx
  frontend/src/modules/issues/components/issue/components/issue_attachments.tsx
  frontend/src/modules/issues/utils.ts
  frontend/src/shared/i18n/locales/en.json
  frontend/src/shared/model/types/attachment.ts
Due: prettier

agile board settings access control
  frontend/src/modules/agile_boards/components/agile_board_form/agile_board_form.tsx
  frontend/src/modules/agile_boards/components/agile_board_form/components/card_colors_fields_form.tsx
  frontend/src/modules/agile_boards/components/agile_board_form/components/card_fields_form.tsx
  frontend/src/modules/agile_boards/components/agile_board_form/components/columns_form.tsx
  frontend/src/modules/agile_boards/components/agile_board_form/components/columns_strategy_form.tsx
  frontend/src/modules/agile_boards/components/agile_board_form/components/project_select.tsx
  frontend/src/modules/agile_boards/components/agile_board_form/components/swimlanes_form.tsx
  frontend/src/modules/agile_boards/components/agile_board_form/tabs/card.tsx
  frontend/src/modules/agile_boards/components/agile_board_form/tabs/column_swimlanes.tsx
  frontend/src/modules/agile_boards/components/agile_board_form/tabs/main_info.tsx
  frontend/src/modules/agile_boards/view.tsx
  frontend/src/modules/projects/list.tsx
  frontend/src/shared/i18n/locales/en.json
Due: prettier

projects access control (create, edit)
  frontend/src/modules/projects/components/general_info.tsx
  frontend/src/modules/projects/components/project_form.tsx
  frontend/src/modules/projects/create.tsx
  frontend/src/modules/projects/list.tsx
  frontend/src/modules/projects/utils.ts
  frontend/src/modules/projects/view.tsx
  frontend/src/shared/model/api/user.api.ts
  frontend/src/shared/model/slices/profile.slice.ts
  frontend/src/shared/model/types/user.ts
Due: prettier

feat: add configurable S3 presigned URL expiration
  app/pm/config.py
  app/pm/services/files.py
  app/pm/utils/file_storage/s3.py
Due: lint, bandit

feat: add presigned URLs to attachment outputs
  app/openapi.json
  app/pm/api/routes/api/v1/issue/comment.py
  app/pm/api/routes/api/v1/issue/feed.py
  app/pm/api/routes/api/v1/issue/issue.py
  app/pm/api/views/issue.py
Due: lint, bandit

docs: ignore .obsidian folders
  docs/.gitignore
Due: none

refactor: optimize file storage client usage by using singleton pattern
  app/pm/api/routes/api/avatar.py
  app/pm/api/routes/api/v1/files.py
  app/pm/api/routes/api/v1/project.py
  app/pm/api/views/issue.py
  app/pm/ocr/app.py
  app/pm/services/avatars.py
  app/pm/services/files.py
  app/pm/utils/file_storage/s3.py
Due: lint, bandit

Path conditions:
  lint: any of: \.py$
  bandit: any of: \.py$
  prettier: any of: ^frontend/
