Repository Star-Solution-FZCO/snail-orbit: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint, bandit, prettier

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: ruff-fix
        name: ruff-fix
        language: system
        entry: ruff check --fix app
        types_or: [ python, pyi ]
      - id: ruff-format
        name: ruff-format
        language: system
        entry: ruff format --no-cache app
        types_or: [ python, pyi ]
      - id: lint
        name: lint
        language: system
        entry: python3 app/lint.py
        types: [ python ]
      - id: bandit
        name: bandit
        language: system
        entry: bandit -c app/pyproject.toml -r app
        types: [ python ]
      - id: prettier
        name: prettier
        language: system
        pass_filenames: false
        entry: yarn --cwd frontend prettier
        files: '^frontend/'
  - repo: https://github.com/gitleaks/gitleaks
    rev: v8.21.2
    hooks:
      - id: gitleaks

feat: enhance LightboxModal with improved navigation and layout adjustments
  frontend/src/shared/ui/lightbox/modal.tsx
Due: prettier

added mode of viewing issue attachments as a list
  frontend/src/modules/issues/components/issue/components/attachment_list_item.tsx
  frontend/src/modules/issues/components/issue/components/attachments_list.tsx
  frontend/src/modules/issues/utils.ts
  frontend/src/shared/i18n/locales/en.json
Due: prettier

Agile board settings
  frontend/src/modules/issues/components/issue/components/issue_form.tsx
  frontend/src/modules/issues/pages/view.tsx
Due: prettier

Smaller chips
  frontend/src/features/custom_fields/enum_chip.tsx
  frontend/src/modules/agile_boards/components/agile_board.tsx
  frontend/src/modules/agile_boards/components/agile_card.tsx
  frontend/src/shared/ui/fields/adornments/avatar_adornment.tsx
  frontend/src/shared/ui/fields/adornments/color_adornment.tsx
  frontend/src/shared/utils/helpers/local-storage.ts
  frontend/src/widgets/issue/custom_fields_chip_parser/custom_fields_chip_parser.tsx
  frontend/src/widgets/issue/custom_fields_chip_parser/custom_fields_chip_parser.types.ts
Due: prettier

sse fix & issue view & agile board issues refetch on focus
  frontend/src/modules/agile_boards/components/agile_board.tsx
  frontend/src/modules/issues/pages/view.tsx
  frontend/src/shared/model/api/index.ts
  frontend/src/shared/model/store.ts
  frontend/src/shared/utils/hooks/use-sse-request.ts
Due: prettier

feat: add items per page selector to projects and agile boards lists, change default limit for queries
  frontend/src/modules/agile_boards/components/agile_board.tsx
  frontend/src/modules/agile_boards/list.tsx
  frontend/src/modules/issues/pages/list.tsx
  frontend/src/modules/projects/list.tsx
  frontend/src/shared/model/store.ts
  frontend/src/shared/utils/hooks/use-sse-request.ts
  frontend/src/shared/utils/query.ts
Due: prettier

feat: add owned custom field UI components and integration
  frontend/src/features/custom_fields/owned_chip.tsx
  frontend/src/features/custom_fields/owned_field.tsx
  frontend/src/features/custom_fields/utils.tsx
  frontend/src/modules/custom_fields/components/default_value_input.tsx
  frontend/src/modules/custom_fields/components/form_dialogs/owned_option_form_dialog.tsx
  frontend/src/modules/custom_fields/components/options_editors/field_type_editor.tsx
  frontend/src/modules/custom_fields/components/options_editors/owned_options_editor.tsx
  frontend/src/modules/custom_fields/components/utils.ts
  frontend/src/modules/issues/components/issue/components/issue_history/field_changes.tsx
  frontend/src/shared/i18n/locales/en.json
  frontend/src/shared/model/api/custom_fields.api.ts
  frontend/src/shared/model/mappers/issue.ts
  frontend/src/shared/model/types/custom_fields.ts
  frontend/src/widgets/issue/custom_fields_chip_parser/custom_fields_chip_parser.tsx
  frontend/src/widgets/issue/custom_fields_parser/custom_fields_parser.tsx
Due: prettier

agile board list & project list pages - improved pagination
  frontend/src/modules/agile_boards/components/agile_board_view_settings/agile_board_view_settings.tsx
  frontend/src/modules/agile_boards/components/list/board_row.tsx
  frontend/src/modules/agile_boards/components/list/boards_list.tsx
  frontend/src/modules/agile_boards/list.tsx
  frontend/src/modules/agile_boards/view.tsx
  frontend/src/modules/issues/components/issue/components/heading_controls.tsx
  frontend/src/modules/issues/components/issue/components/issue_heading.tsx
  frontend/src/modules/issues/components/list/issue_row/issues_list.utils.ts
  frontend/src/modules/issues/components/list/issues_list.tsx
  frontend/src/modules/issues/components/list/issues_list_settings.tsx
  frontend/src/modules/projects/components/project_card.tsx
  frontend/src/modules/projects/list.tsx
  frontend/src/modules/tags/components/tag_list/tag_list_popover.tsx
  frontend/src/shared/i18n/locales/en.json
  frontend/src/shared/ui/fields/form_autocomplete/form_autocomplete.styles.tsx
  frontend/src/shared/ui/fields/form_autocomplete/form_autocomplete.tsx
  frontend/src/shared/ui/fields/form_autocomplete/form_autocomplete_content.tsx
  frontend/src/shared/utils/query.ts
Due: prettier

Issue view error view
  frontend/src/features/custom_fields/date_field.tsx
  frontend/src/features/custom_fields/enum_field.tsx
  frontend/src/features/custom_fields/input_field.tsx
  frontend/src/features/custom_fields/owned_field.tsx
  frontend/src/features/custom_fields/select_field.tsx
  frontend/src/features/custom_fields/user_field.tsx
  frontend/src/features/custom_fields/version_field.tsx
  frontend/src/modules/issues/components/issue/components/field_container.tsx
  frontend/src/modules/issues/components/issue/issue_view.tsx
  frontend/src/modules/issues/pages/view.tsx
  frontend/src/shared/ui/fields/field_card/field_card.tsx
  frontend/src/widgets/issue/api/use_issue_operations.tsx
  frontend/src/widgets/issue/custom_fields_parser/custom_fields_parser.tsx
  frontend/src/widgets/issue/custom_fields_parser/custom_fields_parser.types.ts
  frontend/src/widgets/issue/issue_custom_fields/issue_custom_fields.tsx
  frontend/src/widgets/issue/issue_custom_fields/issue_custom_fields.types.ts
Due: prettier

Issue view error view
  frontend/src/app/App.tsx
  frontend/src/modules/agile_boards/components/agile_board.tsx
  frontend/src/modules/agile_boards/components/agile_card.tsx
  frontend/src/modules/agile_boards/view.tsx
  frontend/src/modules/issues/components/issue/components/field_offside.tsx
  frontend/src/modules/issues/components/issue/components/issue_form.tsx
  frontend/src/modules/issues/components/issue/issue_modal.tsx
  frontend/src/modules/issues/pages/view.tsx
  frontend/src/modules/issues/widgets/modal_view/modal_view_issue.tsx
  frontend/src/shared/model/api/agile_board.api.ts
  frontend/src/shared/model/api/issue.api.ts
  frontend/src/shared/model/types/issue.ts
  frontend/src/shared/utils/error.ts
  frontend/src/widgets/issue/api/use_issue_operations.tsx
Due: prettier

feat: add duration custom field type with human-readable search parsing
  app/openapi.json
  app/pm/api/issue_query/search.py
  app/pm/api/views/custom_fields.py
  app/pm/models/custom_fields/__init__.py
  app/pm/models/custom_fields/_base.py
  app/pm/models/custom_fields/plain.py
  app/tests/api/custom_fields.py
  app/tests/api/test_api.py
  app/tests/search/test_search.py
Due: lint, bandit

feat: add duration custom field UI components and integration
  frontend/src/features/custom_fields/duration_chip.tsx
  frontend/src/features/custom_fields/duration_field.tsx
  frontend/src/modules/custom_fields/components/default_value_input.tsx
  frontend/src/shared/i18n/locales/en.json
  frontend/src/shared/model/types/custom_fields.ts
  frontend/src/widgets/issue/custom_fields_chip_parser/custom_fields_chip_parser.tsx
  frontend/src/widgets/issue/custom_fields_parser/custom_fields_parser.tsx
Due: prettier

Drop board cache on issue updated
  frontend/src/shared/model/api/issue.api.ts
Due: prettier

feat: enhance APIRouter with automatic response merging
  app/pm/api/utils/router.py
  app/tests/router/__init__.py
  app/tests/router/test_response_merging.py
Due: lint, bandit

feat: add comprehensive error response system
  app/pm/api/views/error_responses.py
  app/pm/api/views/output.py
Due: lint, bandit

feat: modernize error response system for all routes
  app/openapi.json
  app/pm/api/routes/api/avatar.py
  app/pm/api/routes/api/v1/activity.py
  app/pm/api/routes/api/v1/board.py
  app/pm/api/routes/api/v1/custom_field.py
  app/pm/api/routes/api/v1/files.py
  app/pm/api/routes/api/v1/group.py
  app/pm/api/routes/api/v1/issue/__init__.py
  app/pm/api/routes/api/v1/issue/comment.py
  app/pm/api/routes/api/v1/issue/filters.py
  app/pm/api/routes/api/v1/issue/history.py
  app/pm/api/routes/api/v1/issue/issue.py
  app/pm/api/routes/api/v1/profile.py
  app/pm/api/routes/api/v1/project.py
  app/pm/api/routes/api/v1/report.py
  app/pm/api/routes/api/v1/role.py
  app/pm/api/routes/api/v1/search.py
  app/pm/api/routes/api/v1/settings/__init__.py
  app/pm/api/routes/api/v1/settings/api_token.py
  app/pm/api/routes/api/v1/settings/encryption_key.py
  app/pm/api/routes/api/v1/settings/mfa.py
  app/pm/api/routes/api/v1/settings/ui_settings.py
  app/pm/api/routes/api/v1/tag.py
  app/pm/api/routes/api/v1/user.py
  app/pm/api/routes/api/v1/user_group.py
  app/pm/api/routes/api/v1/workflow.py
Due: lint, bandit

changed the calculation of time spent
  frontend/src/shared/i18n/locales/en.json
  frontend/src/shared/ui/spent_time_field.tsx
  frontend/src/shared/utils/convert.ts
Due: prettier

Visible board header
  frontend/src/modules/agile_boards/view.tsx
Due: prettier

update aiohttp (CVE-2025-53643)
  app/poetry.lock
Due: none

feat: modernize exception naming and error handling consistency
  app/pm/api/context.py
  app/pm/api/error_handlers.py
  app/pm/api/exceptions.py
  app/pm/api/routes/api/auth/__init__.py
  app/pm/api/routes/api/v1/board.py
  app/pm/api/routes/api/v1/issue/issue.py
  app/pm/api/routes/api/v1/settings/mfa.py
Due: lint, bandit

fix: modernize file storage implementation and improve error consistency
  app/pm/api/routes/api/avatar.py
  app/pm/api/routes/api/v1/files.py
  app/pm/api/routes/api/v1/project.py
  app/pm/utils/file_storage/_base.py
  app/pm/utils/file_storage/local.py
  app/pm/utils/file_storage/s3.py
  app/pm/utils/file_storage/utils.py
Due: lint, bandit

refactor: optimize issue query search with performance improvements
  app/pm/api/issue_query/__init__.py
  app/pm/api/issue_query/_base.py
  app/pm/api/issue_query/parse_logical_expression.py
  app/pm/api/issue_query/search.py
  app/pm/api/issue_query/sort.py
  app/pm/tasks/actions/notification_batch.py
Due: lint, bandit

feat: enhance ruff configuration and exclude migrations from formatting
  app/pyproject.toml
Due: none

fix duration and owned fields
  app/openapi.json
  app/pm/api/views/issue.py
  frontend/src/modules/issues/components/issue/components/issue_history/field_changes.tsx
Due: lint, bandit, prettier

fix: improve error message formatting in request validation handler
  app/pm/api/error_handlers.py
Due: lint, bandit

feat: implement comprehensive Report system with query filtering and project ordering
  app/openapi.json
  app/pm/api/routes/api/v1/custom_field.py
  app/pm/api/routes/api/v1/report.py
  app/pm/models/__init__.py
  app/pm/models/report.py
  app/tests/api/test_report_api.py
Due: lint, bandit

feat: implement report generation for field and two-fields reports
  app/openapi.json
  app/pm/api/routes/api/v1/report.py
Due: lint, bandit

buttons in the admin settings menu are wrapped in links for better accessibility
  frontend/src/modules/agile_boards/components/agile_board_select.tsx
  frontend/src/shared/ui/navbar/components/admin_settings_button.tsx
  frontend/src/shared/ui/navbar/components/user_menu_button.tsx
Due: prettier

feat: implement per-issue ACL system with inheritance control
  app/migrations/versions/20250716000000_add_issue_permissions.py
  app/openapi.json
  app/pm/api/context.py
  app/pm/api/routes/api/v1/activity.py
  app/pm/api/routes/api/v1/board.py
  app/pm/api/routes/api/v1/group.py
  app/pm/api/routes/api/v1/issue/issue.py
  app/pm/api/views/issue.py
  app/pm/models/issue.py
  app/tests/api/create.py
  app/tests/api/helpers.py
  app/tests/api/test_api.py
  app/tests/api/test_issue_permissions.py
Due: lint, bandit

added issue link mode toggle
  frontend/src/modules/agile_boards/components/agile_card.tsx
  frontend/src/modules/issues/components/issue/components/issue_links.tsx
  frontend/src/modules/issues/components/issue/components/issue_meta.tsx
  frontend/src/modules/issues/components/list/issue_row/issue_row.tsx
  frontend/src/modules/profile/components/workspace.tsx
  frontend/src/shared/i18n/locales/en.json
  frontend/src/shared/model/slices/shared.slice.ts
  frontend/src/widgets/issue/issue_link/use_issue_link_props.ts
Due: prettier

sec: add authentication to vulnerable API endpoints
  app/openapi.json
  app/pm/api/routes/api/v1/issue/feed.py
  app/pm/api/routes/api/v1/user_group.py
  app/pm/api/routes/events/issue.py
Due: lint, bandit

added remark-breaks plugin for markdown renderer
  frontend/package.json
  frontend/src/shared/ui/md_editors/v2/editor.tsx
  frontend/src/shared/ui/md_editors/v2/plugins/new_line_processor_plugin.ts
  frontend/src/shared/ui/md_renderer.tsx
  frontend/yarn.lock
Due: prettier

lexical markdown editor fixes
  frontend/src/modules/issues/components/issue/components/comment_card/comment_card_edit.tsx
  frontend/src/modules/issues/components/issue/components/comments/create_comment_form.tsx
  frontend/src/modules/issues/components/issue/components/issue_form.tsx
  frontend/src/shared/ui/md_editors/v1/md_editor.tsx
  frontend/src/shared/ui/md_editors/v2/editor.css
  frontend/src/shared/ui/md_editors/v2/editor.tsx
  frontend/src/shared/ui/navbar/components/admin_settings_button.tsx
Due: prettier

Get rid of `useIssueLinkProps`
  frontend/src/modules/agile_boards/components/agile_card.tsx
  frontend/src/modules/agile_boards/components/list/board_row.tsx
  frontend/src/modules/issues/components/issue/components/issue_links.tsx
  frontend/src/modules/issues/components/issue/components/issue_meta.tsx
  frontend/src/modules/issues/components/list/issue_row/issue_row.tsx
  frontend/src/shared/model/types/custom_fields.ts
  frontend/src/shared/ui/issue_link.tsx
  frontend/src/widgets/issue/issue_link/issue_link.tsx
  frontend/src/widgets/issue/issue_link/use_issue_link_props.ts
Due: prettier

Get rid of issue link global state
  frontend/src/modules/issues/components/issue/components/heading_controls.tsx
  frontend/src/modules/issues/components/issue/components/issue_heading.tsx
  frontend/src/modules/issues/components/issue/components/issue_links.tsx
  frontend/src/modules/issues/components/issue/components/issue_links/add_links.tsx
  frontend/src/modules/issues/components/issue/components/issue_links/issue_link_card.tsx
  frontend/src/modules/issues/components/issue/components/issue_links/issue_links.tsx
  frontend/src/modules/issues/components/issue/issue_modal.tsx
  frontend/src/modules/issues/components/issue/issue_view.tsx
  frontend/src/modules/profile/components/workspace.tsx
  frontend/src/shared/model/slices/index.ts
  frontend/src/shared/model/slices/shared.slice.ts
  frontend/src/shared/model/store.ts
  frontend/src/shared/model/types/settings.ts
  frontend/src/shared/ui/md_editors/index.tsx
  frontend/src/shared/utils/hooks/use-schema.ts
  frontend/src/widgets/issue/issue_link/issue_link.tsx
Due: prettier

fix: resolve PermAnd attribute error in link target selection
  app/pm/api/context.py
  app/pm/api/routes/api/v1/issue/issue.py
  app/tests/api/test_api.py
Due: lint, bandit

update fastapi and starlette (CVE-2025-54121)
  app/poetry.lock
Due: none

feat: separate sort parameter from query in issue search
  app/openapi.json
  app/pm/api/issue_query/__init__.py
  app/pm/api/routes/api/v1/board.py
  app/pm/api/routes/api/v1/issue/issue.py
  app/pm/api/views/params.py
Due: lint, bandit

issue link layout fix
  frontend/src/app/routes/_authenticated.tsx
  frontend/src/app/routes/_authenticated/agiles/$boardId.tsx
  frontend/src/features/user_group_select/utils.tsx
  frontend/src/modules/agile_boards/components/agile_board_view_settings/agile_board_view_settings.tsx
  frontend/src/modules/agile_boards/components/agile_card.tsx
  frontend/src/modules/agile_boards/components/list/board_row.tsx
  frontend/src/modules/agile_boards/view.tsx
  frontend/src/modules/issues/components/issue/components/heading_controls.tsx
  frontend/src/modules/issues/components/issue/components/issue_heading.tsx
  frontend/src/modules/issues/components/issue/components/issue_links/add_links.tsx
  frontend/src/modules/issues/components/issue/components/issue_links/issue_link_card.tsx
  frontend/src/modules/issues/components/issue/components/issue_links/issue_links.tsx
  frontend/src/modules/issues/components/issue/components/issue_meta.tsx
  frontend/src/modules/issues/components/issue/components/issue_tags.tsx
  frontend/src/modules/issues/components/issue/issue_modal.tsx
  frontend/src/modules/issues/components/issue/issue_view.tsx
  frontend/src/modules/issues/components/list/issue_row/issue_row.tsx
  frontend/src/modules/issues/components/list/issues_list.tsx
  frontend/src/modules/issues/pages/list.tsx
  frontend/src/modules/projects/create.tsx
  frontend/src/modules/projects/list.tsx
  frontend/src/widgets/issue/api/use_project_data.tsx
Due: prettier
