Repository Star-Solution-FZCO/snail-orbit: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint, bandit, prettier

lint:
  name: lint
  language: system
  entry: python3 app/lint.py

bandit:
  name: bandit
  language: system
  entry: bandit -c app/pyproject.toml -r app

prettier:
  name: prettier
  language: system
  pass_filenames: false
  entry: yarn --cwd frontend prettier

Create agile board fix
  frontend/src/modules/agile_boards/components/create_agile_board_form/create_agile_board_form.tsx
  frontend/src/modules/agile_boards/components/create_agile_board_form/create_agile_board_form.types.ts
  frontend/src/modules/agile_boards/components/create_agile_board_form/form_values_to_api_data.ts
  frontend/src/modules/agile_boards/create.tsx
Due: prettier

Agile board small fixes
  frontend/src/features/permission_table/permission_table.tsx
  frontend/src/features/permission_table/permission_table.types.ts
  frontend/src/modules/agile_boards/components/agile_board_form/components/card_color_fields_select_popover.tsx
  frontend/src/modules/agile_boards/components/agile_board_form/components/card_colors_fields_form.tsx
  frontend/src/modules/agile_boards/components/agile_board_form/components/card_custom_fields_select_popover.tsx
  frontend/src/modules/agile_boards/components/agile_board_form/components/card_fields_form.tsx
  frontend/src/modules/agile_boards/components/agile_board_form/components/column_field_select.tsx
  frontend/src/modules/agile_boards/components/agile_board_form/components/columns_strategy_form.tsx
  frontend/src/modules/agile_boards/components/agile_board_form/components/swim_line_field_select.tsx
  frontend/src/modules/agile_boards/components/agile_board_form/tabs/access.tsx
  frontend/src/modules/agile_boards/components/agile_board_form/tabs/card.tsx
Due: prettier

changed background color in favicons
  frontend/public/favicon-dev.ico
  frontend/public/favicon-test.ico
  frontend/public/logo-dev.png
  frontend/public/logo-test.png
Due: prettier

adjust font size in MarkdownPreview component
  frontend/src/shared/ui/md_editor/md_editor.tsx
Due: prettier

changed background color in favicon for dev env
  frontend/public/favicon-dev.ico
  frontend/public/logo-dev.png
Due: prettier

fix: implement relationship-based issue ordering for boards
  app/migrations/versions/20250617180000_board_issues_order_relationships.py
  app/pm/api/routes/api/v1/board.py
  app/pm/models/board.py
Due: lint, bandit

feat: add links to detail pages in custom fields, groups, roles, users, and workflows lists
  frontend/src/modules/custom_fields/list.tsx
  frontend/src/modules/groups/components/group_members.tsx
  frontend/src/modules/groups/list.tsx
  frontend/src/modules/roles/list.tsx
  frontend/src/modules/users/list.tsx
  frontend/src/modules/workflows/list.tsx
Due: prettier

fix description field in agile board settings form
  frontend/src/modules/agile_boards/components/agile_board_form/tabs/main_info.tsx
  frontend/src/modules/agile_boards/view.tsx
Due: prettier

fix: add aliases to text search index for combined text and alias search
  app/migrations/versions/20250618200450_add_aliases_to_text_index.py
  app/pm/api/issue_query/search.py
  app/pm/models/issue.py
Due: lint, bandit

docs: enhance CLAUDE.md with comprehensive Python code style guidelines
  CLAUDE.md
Due: none

feat: add database migration CLI commands using starsol-mongo-migrate
  CLAUDE.md
  app/manage.py
  app/pm/cli/db.py
  app/poetry.lock
  app/pyproject.toml
Due: lint, bandit

update urllib3 (CVE-2025-50181)
  app/poetry.lock
Due: none

feat: add database version check and auto-migration on API startup
  app/pm/api/app.py
  app/pm/config.py
  app/pm/db/__init__.py
  app/pm/db/version.py
Due: lint, bandit

feat: add comprehensive database indexing strategy for performance optimization
  app/migrations/versions/20250619120000_comprehensive_indexing_strategy.py
  app/pm/models/_audit.py
  app/pm/models/board.py
  app/pm/models/custom_fields/_base.py
  app/pm/models/group.py
  app/pm/models/issue.py
  app/pm/models/project.py
  app/pm/models/role.py
  app/pm/models/search.py
  app/pm/models/tag.py
  app/pm/models/user.py
  app/pm/models/workflow.py
Due: lint, bandit

feat: implement secure async OIDC authentication with Authlib integration
  app/openapi.json
  app/pm/api/app.py
  app/pm/api/routes/api/auth/__init__.py
  app/pm/api/routes/api/auth/oidc.py
  app/pm/cli/api.py
  app/pm/config.py
  app/pm/utils/oidc.py
  app/poetry.lock
  app/pyproject.toml
Due: lint, bandit

Fixes
  frontend/src/modules/agile_boards/components/agile_card.tsx
  frontend/src/shared/ui/kanban/kanban.tsx
  frontend/src/widgets/issue/api/use_issue_operations.tsx
Due: prettier

Fixes
  frontend/src/modules/agile_boards/hooks/use-view-navbar-settings.tsx
  frontend/src/modules/agile_boards/view.tsx
  frontend/src/modules/issues/components/issue/components/draft_form.tsx
  frontend/src/modules/issues/components/issue/draft_modal.tsx
  frontend/src/modules/issues/components/issue/draft_view.tsx
  frontend/src/modules/issues/hooks/use-create-issue-navbar-settings.tsx
  frontend/src/modules/issues/pages/draft.tsx
  frontend/src/modules/issues/pages/list.tsx
  frontend/src/modules/issues/widgets/modal_view/modal_view_issue.tsx
  frontend/src/shared/ui/kanban/components/item/Item.styles.tsx
  frontend/src/shared/ui/navbar/components/user_menu_button.tsx
Due: prettier

Some kanban fixes
  frontend/src/shared/ui/kanban/components/header/header.styles.tsx
  frontend/src/shared/ui/kanban/components/header/header.tsx
  frontend/src/shared/ui/kanban/components/header/header.types.ts
  frontend/src/shared/ui/kanban/components/item/Item.styles.tsx
  frontend/src/shared/ui/kanban/components/item/item.tsx
  frontend/src/shared/ui/kanban/components/swim-line/SwimLine.styles.tsx
  frontend/src/shared/ui/kanban/components/swim-line/SwimLine.tsx
  frontend/src/shared/ui/kanban/components/swim-line/SwimLine.types.ts
  frontend/src/shared/ui/kanban/kanban.tsx
Due: prettier

Added some links to comps
  frontend/src/modules/agile_boards/components/agile_board_list_popover.tsx
  frontend/src/modules/agile_boards/components/agile_board_select.tsx
  frontend/src/modules/agile_boards/view.tsx
  frontend/src/shared/ui/fields/form_autocomplete/form_autocomplete_content.tsx
Due: prettier

fix: preserve card field ordering in board updates
  app/pm/api/routes/api/v1/board.py
Due: lint, bandit

fix: clean up orphaned interlinks on issue deletion
  app/pm/api/routes/api/v1/issue/issue.py
Due: lint, bandit

fix: enable pre-wrap for code elements in MarkdownPreview
  frontend/src/shared/ui/md_editor/md_editor.tsx
Due: prettier

refactor: migrate from Celery to Taskiq task queue system
  CLAUDE.md
  app/Dockerfile
  app/pm/api/app.py
  app/pm/api/routes/api/v1/board.py
  app/pm/api/routes/api/v1/issue/issue.py
  app/pm/api/routes/api/v1/user.py
  app/pm/cli/api.py
  app/pm/cli/tasks.py
  app/pm/config.py
  app/pm/tasks/_base.py
  app/pm/tasks/actions/notify.py
  app/pm/tasks/actions/send_email.py
  app/pm/tasks/actions/send_pararam_message.py
  app/pm/tasks/actions/workflows.py
  app/pm/tasks/app.py
  app/pm/tasks/scheduled/__init__.py
  app/pm/tasks/scheduled/wb_sync.py
  app/pm/tasks/scheduled/workflows.py
  app/poetry.lock
  app/pyproject.toml
  app/tests/api/create.py
  app/tests/api/test_api.py
  app/tests/api/test_attachment.py
  app/tests/conftest.py
  app/tests/tasks/__init__.py
  app/tests/tasks/test_task_integration.py
Due: lint, bandit

feat: implement Redis-based notification batching system
  app/pm/api/routes/api/v1/board.py
  app/pm/api/routes/api/v1/issue/issue.py
  app/pm/cli/tasks.py
  app/pm/config.py
  app/pm/tasks/actions/__init__.py
  app/pm/tasks/actions/notification_batch.py
  app/pm/tasks/actions/notify.py
  app/pm/tasks/app.py
  app/pm/tasks/batch_processor.py
  app/tests/api/test_api.py
  app/tests/api/test_attachment.py
Due: lint, bandit

feat: enhance batched notifications with detailed field changes
  app/pm/api/routes/api/v1/board.py
  app/pm/api/routes/api/v1/issue/issue.py
  app/pm/tasks/actions/notification_batch.py
  app/pm/tasks/actions/notify.py
  app/pm/tasks/batch_processor.py
Due: lint, bandit

new md editor
  frontend/package.json
  frontend/src/modules/issues/components/issue/components/comment_card/comment_card_view.tsx
  frontend/src/modules/issues/components/issue/components/comments/create_comment_form.tsx
  frontend/src/modules/issues/components/issue/components/draft_form.tsx
  frontend/src/modules/issues/components/issue/components/issue_form.tsx
  frontend/src/modules/issues/components/issue/components/md_preview.tsx
  frontend/src/modules/issues/components/issue/issue_view.tsx
  frontend/src/modules/profile/components/workspace.tsx
  frontend/src/shared/i18n/locales/en.json
  frontend/src/shared/model/slices/shared.slice.ts
  frontend/src/shared/ui/index.ts
  frontend/src/shared/ui/md_editors/index.tsx
  frontend/src/shared/ui/md_editors/types.ts
  frontend/src/shared/ui/md_editors/v1/index.ts
  frontend/src/shared/ui/md_editors/v1/md_editor.css
  frontend/src/shared/ui/md_editors/v1/md_editor.tsx
  frontend/src/shared/ui/md_editors/v1/utils.ts
  frontend/src/shared/ui/md_editors/v2/commands.ts
  frontend/src/shared/ui/md_editors/v2/editor.css
  frontend/src/shared/ui/md_editors/v2/editor.tsx
  frontend/src/shared/ui/md_editors/v2/hooks/use-register-toolbar-commands.ts
  frontend/src/shared/ui/md_editors/v2/hooks/use-toolbar-commands.ts
  frontend/src/shared/ui/md_editors/v2/index.ts
  frontend/src/shared/ui/md_editors/v2/plugins/focus_blur_plugin.ts
  frontend/src/shared/ui/md_editors/v2/plugins/toolbar_button.ts
  frontend/src/shared/ui/md_editors/v2/plugins/toolbar_plugin.tsx
  frontend/src/shared/ui/md_editors/v2/theme.ts
  frontend/src/shared/ui/md_editors/v2/utils.ts
  frontend/src/shared/ui/md_renderer.tsx
  frontend/src/shared/ui/spent_time_field.tsx
  frontend/src/shared/utils/convert.ts
  frontend/yarn.lock
Due: prettier

refactor: complete rewrite and cleanup of logging system
  app/pm/api/app.py
  app/pm/cli/tasks.py
  app/pm/config.py
  app/pm/logging/__init__.py
  app/pm/logging/config.py
  app/pm/logging/context.py
  app/pm/logging/middleware.py
  app/pm/logging/structured.py
  app/pm/tasks/actions/notify.py
  app/pm/tasks/actions/send_email.py
  app/pm/tasks/batch_processor.py
Due: lint, bandit

added avatar upload and delete functionality for projects
  app/openapi.json
  app/pm/api/routes/api/avatar.py
  app/pm/api/routes/api/v1/project.py
  frontend/src/modules/issues/components/issue/components/issue_form.tsx
  frontend/src/modules/profile/view.tsx
  frontend/src/modules/projects/components/general_info.tsx
  frontend/src/modules/projects/components/project_card.tsx
  frontend/src/shared/i18n/locales/en.json
  frontend/src/shared/model/api/project.api.ts
Due: lint, bandit, prettier

feat: improve issue list pagination options
  app/openapi.json
  app/pm/api/routes/api/v1/issue/issue.py
  frontend/src/modules/issues/components/list/issue_row/issues_list.utils.ts
Due: lint, bandit, prettier

fix: make built-in field names case-insensitive in issue queries
  app/pm/api/issue_query/search.py
  app/tests/search/test_search.py
Due: lint, bandit

ProjectOutput: fix schema
  app/openapi.json
  app/pm/api/routes/api/v1/project.py
Due: lint, bandit

Added settings and settings savings
  frontend/src/app/routes/_authenticated/agiles/index.tsx
  frontend/src/modules/agile_boards/components/agile_board_list_popover.tsx
  frontend/src/modules/agile_boards/create.tsx
  frontend/src/modules/agile_boards/list.tsx
  frontend/src/modules/agile_boards/utils/lastViewBoardStorage.ts
  frontend/src/modules/agile_boards/view.tsx
  frontend/src/modules/issues/components/issue/components/issue_activities.tsx
  frontend/src/modules/issues/components/issue/components/issue_activities/activity_type_button.tsx
  frontend/src/modules/issues/components/issue/components/issue_activities/delete_comment_dialog.tsx
  frontend/src/modules/issues/components/issue/components/issue_activities/issue_activities.tsx
  frontend/src/modules/issues/components/issue/components/issue_activities/issue_activities.types.ts
  frontend/src/modules/issues/components/issue/components/issue_activities/issue_activities_settings.tsx
  frontend/src/modules/issues/components/issue/issue_modal.tsx
  frontend/src/modules/issues/components/issue/issue_view.tsx
  frontend/src/modules/issues/components/list/issue_row/issue_row.styles.tsx
  frontend/src/modules/issues/components/list/issue_row/issue_row.tsx
  frontend/src/modules/issues/components/list/issue_row/issues_list.utils.ts
  frontend/src/modules/issues/components/list/issues_list.tsx
  frontend/src/modules/issues/components/list/issues_list_settings.tsx
  frontend/src/modules/issues/pages/view.tsx
  frontend/src/modules/issues/widgets/modal_view/modal_view_draft.tsx
  frontend/src/modules/projects/list.tsx
  frontend/src/shared/utils/helpers/local-storage.ts
  frontend/src/widgets/issue/api/use_project_data.tsx
Due: prettier

Agile board settings
  frontend/src/modules/agile_boards/components/agile_board.tsx
  frontend/src/modules/agile_boards/components/agile_board_view_settings/agile_board_view_settings.tsx
  frontend/src/modules/agile_boards/components/agile_board_view_settings/agile_board_view_settings.types.ts
  frontend/src/modules/agile_boards/components/agile_card.tsx
  frontend/src/shared/ui/agile/issue_card/issue_card.styles.tsx
  frontend/src/shared/ui/kanban/components/container/container.tsx
  frontend/src/shared/ui/kanban/components/container/container.types.ts
  frontend/src/shared/ui/kanban/components/item/item.tsx
  frontend/src/shared/ui/kanban/components/item/item.types.ts
  frontend/src/shared/ui/kanban/kanban.helper.ts
  frontend/src/shared/ui/kanban/kanban.tsx
  frontend/src/shared/ui/kanban/kanban.types.ts
Due: prettier

sentry setup for frontend
  frontend/Dockerfile
  frontend/env.template.js
  frontend/package.json
  frontend/src/app/App.tsx
  frontend/src/app/config.ts
  frontend/src/app/sentry.ts
  frontend/src/main.tsx
  frontend/src/vite-env.d.ts
  frontend/vite.config.ts
  frontend/yarn.lock
Due: prettier

refactor: simplify Vite config by removing loadEnv and using process.env directly
  frontend/vite.config.ts
Due: prettier

Update Sentry configuration to standardize release and environment
  app/pm/api/app.py
  app/pm/config.py
  app/pm/constants.py
  frontend/Dockerfile
  frontend/env.template.js
  frontend/src/app/config.ts
  frontend/src/app/sentry.ts
  frontend/src/vite-env.d.ts
Due: lint, bandit, prettier

fix frontend Dockerfile
  frontend/Dockerfile
Due: prettier

update pillow (CVE-2025-48379)
  app/poetry.lock
Due: none

feat: add owned custom field type with user assignment functionality
  app/openapi.json
  app/pm/api/issue_query/search.py
  app/pm/api/routes/api/v1/custom_field.py
  app/pm/api/routes/api/v1/user.py
  app/pm/api/views/custom_fields.py
  app/pm/api/views/issue.py
  app/pm/models/__init__.py
  app/pm/models/custom_fields/__init__.py
  app/pm/models/custom_fields/_base.py
  app/pm/models/custom_fields/owned_cf.py
  app/pm/models/issue.py
  app/tests/api/custom_fields.py
  app/tests/api/test_api.py
  app/tests/search/test_search.py
Due: lint, bandit

feat: add NewLineProcessorPlugin to handle new line insertion in markdown editor
  frontend/src/shared/ui/md_editors/v2/editor.tsx
  frontend/src/shared/ui/md_editors/v2/hooks/use-toolbar-commands.ts
  frontend/src/shared/ui/md_editors/v2/plugins/new_line_processor_plugin.ts
  frontend/vite.config.ts
Due: prettier

Path conditions:
  lint: any of: \.py$
  bandit: any of: \.py$
  prettier: any of: ^frontend/
