Repository Star-Solution-FZCO/snail-orbit: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint, bandit, prettier

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: ruff-fix
        name: ruff-fix
        language: system
        entry: ruff check --fix app
        types_or: [ python, pyi ]
      - id: ruff-format
        name: ruff-format
        language: system
        entry: ruff format --no-cache app
        types_or: [ python, pyi ]
      - id: lint
        name: lint
        language: system
        entry: python3 app/lint.py
        types: [ python ]
      - id: bandit
        name: bandit
        language: system
        entry: bandit -c app/pyproject.toml -r app
        types: [ python ]
      - id: prettier
        name: prettier
        language: system
        pass_filenames: false
        entry: yarn --cwd frontend prettier
        files: '^frontend/'
  - repo: https://github.com/gitleaks/gitleaks
    rev: v8.21.2
    hooks:
      - id: gitleaks

Add `is_closed` and `closed_at` fields to issue API
  app/pm/api/views/issue.py
  app/tests/api/test_api.py
Due: lint, bandit

Save issue's resolved and closed states inside the issue model and issue interlinks
  app/migrations/versions/20250430041628_save_states.py
  app/pm/api/issue_query/search.py
  app/pm/api/routes/api/v1/board.py
  app/pm/api/routes/api/v1/issue/issue.py
  app/pm/api/views/issue.py
  app/pm/models/issue.py
  app/tests/api/test_api.py
  app/tests/mongo_filter/test_sort.py
  app/tests/search/test_search.py
Due: lint, bandit

Issue interlinks: show if linked issue is resolved
  frontend/src/modules/issues/components/issue/components/issue_links.tsx
  frontend/src/shared/model/types/issue.ts
Due: prettier

Fix `20250430041628` migration
  app/migrations/versions/20250430041628_save_states.py
Due: lint, bandit

Add OpenAPI schema
  .pre-commit-config.yaml
  app/.gitignore
  app/openapi.json
  app/pm/cli/api.py
  app/poetry.lock
  app/pyproject.toml
Due: lint, bandit

Change parameters order in DeepDiff call for schema comparison
  app/pm/cli/api.py
Due: lint, bandit

Refactor custom field value handling and schema definitions
  app/openapi.json
  app/pm/api/views/custom_fields.py
  app/pm/api/views/issue.py
Due: lint, bandit

Refactor issue change models with detailed type discrimination
  app/openapi.json
  app/pm/api/routes/api/v1/activity.py
  app/pm/api/views/issue.py
Due: lint, bandit

Refactor attachment management in issues and comments, add encryption meta
  app/openapi.json
  app/pm/api/routes/api/v1/issue/_utils.py
  app/pm/api/routes/api/v1/issue/comment.py
  app/pm/api/routes/api/v1/issue/issue.py
  app/pm/api/views/issue.py
  app/pm/services/files.py
Due: lint, bandit

Add encryption metadata support to Issue and IssueDraft creation and update
  app/openapi.json
  app/pm/api/routes/api/v1/issue/issue.py
  app/pm/api/views/issue.py
  app/pm/models/issue.py
  app/tests/api/test_api.py
Due: lint, bandit

Add integration tests for attachments crud (issue, issue draft, issue comment)
  app/tests/api/test_attachment.py
Due: lint, bandit

Add tests for attachments encryption meta
  app/tests/api/create.py
  app/tests/api/test_api.py
  app/tests/api/test_attachment.py
Due: lint, bandit

Refactor the frontend Dockerfile to update paths and change context to the root of the repo
  frontend/Dockerfile
Due: prettier

Fixed changes types
  frontend/src/modules/issues/components/issue/components/issue_history/field_changes.tsx
  frontend/src/shared/model/types/issue.ts
Due: prettier

Split draft and issue
  frontend/src/modules/issues/api/use_attachment_operations.tsx
  frontend/src/modules/issues/api/use_comment_operations.tsx
  frontend/src/modules/issues/api/use_issue_operations.tsx
  frontend/src/modules/issues/api/use_project_data.tsx
  frontend/src/modules/issues/components/issue/components/attachments_list.tsx
  frontend/src/modules/issues/components/issue/components/comment_card/comment_card.tsx
  frontend/src/modules/issues/components/issue/components/comments/create_comment_form.tsx
  frontend/src/modules/issues/components/issue/components/draft_attachments.tsx
  frontend/src/modules/issues/components/issue/components/draft_custom_fields.tsx
  frontend/src/modules/issues/components/issue/components/draft_form.tsx
  frontend/src/modules/issues/components/issue/components/issue_activities.tsx
  frontend/src/modules/issues/components/issue/components/issue_form.tsx
  frontend/src/modules/issues/components/issue/draft_modal.tsx
  frontend/src/modules/issues/components/issue/draft_view.tsx
  frontend/src/modules/issues/components/issue/issue_modal.tsx
  frontend/src/modules/issues/components/issue/issue_view.tsx
  frontend/src/modules/issues/pages/draft.tsx
  frontend/src/modules/issues/pages/view.tsx
  frontend/src/modules/issues/widgets/modal_view/modal_view_draft.tsx
  frontend/src/modules/issues/widgets/modal_view/modal_view_issue.tsx
  frontend/src/shared/ui/file_preview.tsx
Due: prettier

Fixed types
  frontend/src/modules/issues/components/issue/components/issue_history/field_changes.tsx
  frontend/src/widgets/issue/custom_fields_parser_v2/custom_fields_parser_v2.tsx
Due: prettier

Chip render fixes
  frontend/src/features/custom_fields/enum_chip.tsx
  frontend/src/modules/agile_boards/components/agile_card.tsx
  frontend/src/modules/issues/components/list/issue_row/issue_row.types.ts
  frontend/src/modules/issues/components/list/issue_row/issue_row_fields.tsx
  frontend/src/modules/issues/components/list/issues_list.tsx
  frontend/src/widgets/issue/custom_field_chip_parser/custom_field_chip_parser.tsx
  frontend/src/widgets/issue/custom_field_chip_parser/custom_field_chip_parser.types.ts
  frontend/src/widgets/issue/custom_fields_chip_parser_v2/custom_fields_chip_parser_v2.tsx
  frontend/src/widgets/issue/custom_fields_chip_parser_v2/custom_fields_chip_parser_v2.types.ts
Due: prettier

Ensure attachment updates only when explicitly set
  app/pm/api/routes/api/v1/issue/comment.py
  app/pm/api/routes/api/v1/issue/issue.py
Due: lint, bandit

Refactor text and encryption fields to EncryptedObject
  app/openapi.json
  app/pm/api/routes/api/v1/issue/comment.py
  app/pm/api/routes/api/v1/issue/issue.py
  app/pm/api/views/encryption.py
  app/pm/api/views/issue.py
  app/tests/api/test_api.py
  app/tests/api/test_attachment.py
Due: lint, bandit

Refact text and encryption fields on frontend
  frontend/src/modules/issues/api/use_comment_operations.tsx
  frontend/src/modules/issues/api/use_draft_operations.tsx
  frontend/src/modules/issues/api/use_issue_operations.tsx
  frontend/src/modules/issues/components/issue/components/comment_card/comment_card.tsx
  frontend/src/modules/issues/components/issue/components/comment_card/comment_card_edit.tsx
  frontend/src/modules/issues/components/issue/components/comments/create_comment_form.tsx
  frontend/src/modules/issues/components/issue/components/draft_form.tsx
  frontend/src/modules/issues/components/issue/components/issue_form.tsx
  frontend/src/modules/issues/components/issue/issue_modal.tsx
  frontend/src/modules/issues/pages/create.tsx
  frontend/src/modules/issues/pages/draft.tsx
  frontend/src/modules/issues/pages/view.tsx
  frontend/src/modules/issues/widgets/modal_view/modal_view_draft.tsx
  frontend/src/modules/issues/widgets/modal_view/modal_view_issue.tsx
  frontend/src/shared/model/api/encryption_keys.api.ts
  frontend/src/shared/model/types/encryption.ts
  frontend/src/shared/model/types/index.ts
  frontend/src/shared/model/types/project.ts
  frontend/src/shared/utils/crypto/crypto.ts
Due: prettier

Fixed encrypted empty text
  frontend/src/modules/issues/api/use_attachment_operations.tsx
  frontend/src/modules/issues/api/use_comment_operations.tsx
  frontend/src/modules/issues/api/use_draft_operations.tsx
  frontend/src/modules/issues/api/use_issue_operations.tsx
  frontend/src/modules/issues/api/use_project_data.tsx
  frontend/src/shared/model/types/project.ts
Due: prettier

Fixed encrypted empty text
  frontend/src/modules/issues/api/use_draft_operations.tsx
  frontend/src/modules/issues/api/use_issue_operations.tsx
Due: prettier

Some fixes
  frontend/src/modules/issues/components/issue/components/delete_comment_dialog.tsx
  frontend/src/modules/issues/components/issue/components/draft_form.tsx
  frontend/src/modules/issues/components/issue/components/issue_activities.tsx
  frontend/src/shared/model/api/issue.api.ts
Due: prettier

Add Board Issues API under /api/v2
  app/openapi.json
  app/pm/api/routes/api/__init__.py
  app/pm/api/routes/api/v2/__init__.py
  app/pm/api/routes/api/v2/board.py
Due: lint, bandit

docs: enhance CLAUDE.md with code standards and quality requirements
  CLAUDE.md
Due: none

refactor: reorganize API tests into dedicated modules
  app/tests/api/helpers.py
  app/tests/api/test_api.py
  app/tests/api/test_group_api.py
  app/tests/api/test_project_api.py
  app/tests/api/test_role_api.py
  app/tests/api/test_user_api.py
Due: lint, bandit

Add `UUIDStr` custom type for UUID string validation
  app/pm/utils/pydantic_uuid.py
Due: lint, bandit

prevent project changes for issues in encrypted projects
  app/pm/api/routes/api/v1/issue/issue.py
Due: lint, bandit

fixed paste event for subject textfield in issue form
  frontend/src/modules/issues/components/issue/components/attachments_list.tsx
  frontend/src/modules/issues/components/issue/components/draft_form.tsx
  frontend/src/shared/model/types/issue.ts
Due: prettier

fixed thumbnail layout in lightbox
  frontend/src/modules/agile_boards/components/agile_board_form/agile_board_form.tsx
  frontend/src/modules/agile_boards/view.tsx
  frontend/src/shared/ui/lightbox/modal.tsx
  frontend/src/shared/utils/hooks/use-sse-request.ts
Due: prettier

shared worker for server sent events handling
  frontend/src/shared/utils/hooks/sse-shared-worker-manager.ts
  frontend/src/shared/utils/hooks/sse-worker-script.ts
  frontend/src/shared/utils/hooks/use-sse-request.ts
Due: prettier

bump_version: apply ruff
  contrib/helpers/bump_version.py
Due: lint, bandit

Fixed custom field chips
  frontend/src/modules/agile_boards/components/agile_board.tsx
  frontend/src/modules/agile_boards/components/agile_card.tsx
  frontend/src/modules/agile_boards/components/board_view_list.tsx
  frontend/src/modules/issues/components/issue/components/attachments_list.tsx
  frontend/src/modules/issues/components/issue/components/comment_card/comment_card.tsx
  frontend/src/modules/issues/components/issue/components/comments/create_comment_form.tsx
  frontend/src/modules/issues/components/issue/components/draft_custom_fields.tsx
  frontend/src/modules/issues/components/issue/components/draft_form.tsx
  frontend/src/modules/issues/components/issue/components/issue_form.tsx
  frontend/src/modules/issues/components/issue/issue_modal.tsx
  frontend/src/modules/issues/components/issue/issue_view.tsx
  frontend/src/modules/issues/components/list/issue_row/issue_row.tsx
  frontend/src/modules/issues/components/list/issue_row/issue_row.types.ts
  frontend/src/modules/issues/components/list/issue_row/issue_row_fields.tsx
  frontend/src/modules/issues/components/list/issues_list.tsx
  frontend/src/modules/issues/components/list/issues_list.types.ts
  frontend/src/modules/issues/components/query_builder/query_builder.tsx
  frontend/src/modules/issues/pages/draft.tsx
  frontend/src/modules/issues/pages/list.tsx
  frontend/src/modules/issues/pages/view.tsx
  frontend/src/modules/issues/widgets/modal_view/modal_view_draft.tsx
  frontend/src/modules/issues/widgets/modal_view/modal_view_issue.tsx
  frontend/src/widgets/issue/api/use_attachment_operations.tsx
  frontend/src/widgets/issue/api/use_comment_operations.tsx
  frontend/src/widgets/issue/api/use_draft_operations.tsx
  frontend/src/widgets/issue/api/use_issue_operations.tsx
  frontend/src/widgets/issue/api/use_project_data.tsx
  frontend/src/widgets/issue/custom_fields_chip_parser/custom_fields_chip_parser.tsx
  frontend/src/widgets/issue/custom_fields_chip_parser/custom_fields_chip_parser.types.ts
  frontend/src/widgets/issue/custom_fields_parser/custom_fields_parser.tsx
  frontend/src/widgets/issue/custom_fields_parser/custom_fields_parser.types.ts
  frontend/src/widgets/issue/issue_custom_field_chips/issue_custom_fields_chips.tsx
  frontend/src/widgets/issue/issue_custom_field_chips/issue_custom_fields_chips.types.ts
  frontend/src/widgets/issue/issue_custom_fields/issue_custom_fields.tsx
  frontend/src/widgets/issue/issue_custom_fields/issue_custom_fields.types.ts
Due: prettier

configurable page title and favicon
  frontend/env.template.js
  frontend/index.html
  frontend/public/android-chrome-192x192.png
  frontend/public/apple-touch-icon.png
  frontend/public/favicon-16x16.png
  frontend/public/favicon-dev.ico
  frontend/public/favicon-test.ico
  frontend/public/logo.png
  frontend/public/site.webmanifest
  frontend/src/app/config.ts
  frontend/src/shared/model/api/custom_fetch_base.ts
  frontend/src/shared/ui/about.tsx
  frontend/src/shared/ui/page_title.tsx
  frontend/src/shared/utils/helpers/make-file-url.ts
Due: prettier

Fixed custom field chips
  frontend/src/modules/agile_boards/components/agile_board.tsx
  frontend/src/shared/i18n/locales/en.json
Due: prettier

Columns form remake
  frontend/src/modules/agile_boards/components/agile_board_form/components/columns_form.tsx
  frontend/src/modules/agile_boards/components/agile_board_form/components/columns_select_popover.tsx
  frontend/src/modules/agile_boards/components/agile_board_form/components/options_select_popover.tsx
  frontend/src/modules/agile_boards/components/agile_board_form/tabs/column_swimlanes.tsx
  frontend/src/shared/utils/hooks/sse-shared-worker-manager.ts
Due: prettier

Swimlanes form remake
  frontend/src/modules/agile_boards/components/agile_board_form/components/columns_form.tsx
  frontend/src/modules/agile_boards/components/agile_board_form/components/options_select_popover.tsx
  frontend/src/modules/agile_boards/components/agile_board_form/components/swimlanes_form.tsx
  frontend/src/modules/agile_boards/components/agile_board_form/components/swimlanes_select_popover.tsx
  frontend/src/modules/agile_boards/components/agile_board_form/helpers/options.ts
  frontend/src/modules/agile_boards/components/agile_board_form/tabs/column_swimlanes.tsx
  frontend/src/modules/agile_boards/components/agile_board_form/types/options.types.ts
  frontend/src/modules/agile_boards/utils/fieldValueToKey.ts
  frontend/src/modules/agile_boards/utils/normalizeFieldValue.ts
Due: prettier
