Repository Star-Solution-FZCO/snail-orbit: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint, bandit, prettier

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: ruff-fix
        name: ruff-fix
        language: system
        entry: ruff check --fix app
        types_or: [ python, pyi ]
      - id: ruff-format
        name: ruff-format
        language: system
        entry: ruff format --no-cache app
        types_or: [ python, pyi ]
      - id: lint
        name: lint
        language: system
        entry: python3 app/lint.py
        types: [ python ]
      - id: bandit
        name: bandit
        language: system
        entry: bandit -c app/pyproject.toml -r app
        types: [ python ]
      - id: prettier
        name: prettier
        language: system
        pass_filenames: false
        entry: yarn --cwd frontend prettier
        files: '^frontend/'
  - repo: https://github.com/gitleaks/gitleaks
    rev: v8.21.2
    hooks:
      - id: gitleaks

events: add support for filtering issues by board IDs
  app/pm/api/routes/events/issue.py
Due: lint, bandit

Add support for read-only projection models in Beanie documents
  app/pm/api/app.py
  app/pm/utils/document.py
  app/tests/api/conftest.py
Due: lint, bandit

Refactor Issue model to use DocumentWithReadOnlyProjection
  app/pm/api/routes/api/v1/board.py
  app/pm/models/issue.py
  app/tests/api/test_api.py
Due: lint, bandit

Fix read-only projection model initialization
  app/pm/utils/document.py
Due: lint, bandit

Remove `get_suggestions` and related functionality.
  app/pm/api/routes/api/v1/issue/issue.py
  app/pm/api/search/issue.py
  app/tests/search/_mock.py
  app/tests/search/test_search.py
Due: lint, bandit

issue query parsing: refactor custom field handling with simplified Pydantic model
  app/pm/api/search/issue.py
  app/tests/search/_mock.py
  app/tests/search/test_search.py
Due: lint, bandit

Add script to automate version bumping and git tagging
  contrib/helpers/.ruff.toml
  contrib/helpers/bump_version.py
Due: lint, bandit

Fixes
  frontend/src/components/index.ts
  frontend/src/components/star_button.tsx
  frontend/src/components/subscribe_button.tsx
  frontend/src/modules/agile_boards/components/agile_board.tsx
  frontend/src/modules/agile_boards/components/agile_board_list_popover.tsx
  frontend/src/modules/agile_boards/components/list/board_row.tsx
  frontend/src/modules/agile_boards/view.tsx
  frontend/src/modules/custom_fields/components/custom_field_edit_view.tsx
  frontend/src/modules/custom_fields/components/field_list.tsx
  frontend/src/modules/custom_fields/view.tsx
  frontend/src/modules/issues/components/issue/components/issue_subscribe_button.tsx
  frontend/src/modules/projects/components/project_card.tsx
  frontend/src/modules/projects/components/project_subscribe_button.tsx
  frontend/src/modules/projects/create.tsx
  frontend/src/modules/projects/list.tsx
  frontend/src/modules/projects/utils.ts
  frontend/src/modules/projects/view.tsx
  frontend/src/routes/_authenticated/projects/$projectId.tsx
Due: prettier

Fix 404
  frontend/src/modules/custom_fields/view.tsx
  frontend/src/routes/_authenticated/custom-fields/$customFieldGroupId.lazy.tsx
Due: prettier

Issue page subscription
  frontend/src/config.ts
  frontend/src/modules/issues/pages/view.tsx
  frontend/src/routes/_authenticated/issues/$issueId.$subject.lazy.tsx
  frontend/src/routes/_authenticated/issues/$issueId.lazy.tsx
  frontend/src/store/api/custom_fetch_base.ts
  frontend/src/store/api/events.api.ts
  frontend/src/store/slices/profile.slice.ts
  frontend/src/types/events.ts
  frontend/src/utils/helpers/serialize-params.ts
  frontend/src/utils/hooks/use-sse-request.ts
  frontend/vite.config.ts
Due: prettier

Agile board view refactor
  frontend/src/modules/agile_boards/view.tsx
  frontend/src/routes/_authenticated/agiles/$boardId.tsx
  frontend/src/store/api/events.api.ts
Due: prettier

Agile board issues subscription
  frontend/src/store/api/agile_board.api.ts
  frontend/src/store/api/events.api.ts
Due: prettier

Add encryption settings and management to projects
  app/pm/api/routes/api/v1/issue/comment.py
  app/pm/api/routes/api/v1/project.py
  app/pm/api/routes/api/v1/settings/encryption_key.py
  app/pm/api/views/encryption_key.py
  app/pm/api/views/issue.py
  app/pm/models/_encryption.py
  app/pm/models/issue.py
  app/pm/models/project.py
  app/pm/models/user.py
  app/tests/api/create.py
  app/tests/api/test_api.py
Due: lint, bandit

issue activities controls layout fixed
  frontend/src/components/file_preview.tsx
  frontend/src/modules/custom_fields/view.tsx
  frontend/src/modules/issues/components/issue/components/issue_activities.tsx
  frontend/src/modules/issues/components/issue/components/issue_heading.tsx
  frontend/src/modules/issues/components/issue/issue_modal.tsx
  frontend/src/modules/projects/components/project_card.tsx
  frontend/src/routes/_authenticated/custom-fields/$customFieldGroupId.lazy.tsx
Due: prettier

Refactor custom field handling in issue search transformation module
  app/pm/api/search/issue.py
  app/tests/search/_mock.py
  app/tests/search/test_search.py
Due: lint, bandit

Add `sort by` parsing to issue queries
  app/pm/api/issue_query/__init__.py
  app/pm/api/issue_query/_base.py
  app/pm/api/issue_query/parse_logical_expression.py
  app/pm/api/issue_query/search.py
  app/pm/api/issue_query/sort.py
  app/pm/api/routes/api/v1/board.py
  app/pm/api/routes/api/v1/issue/filters.py
  app/pm/api/routes/api/v1/issue/issue.py
  app/pm/api/routes/api/v1/search.py
  app/pm/api/search/__init__.py
  app/pm/api/views/output.py
  app/tests/search/test_search.py
Due: lint, bandit

Refactor encryption handling to use `EncryptionMeta`, add X25519 key format to the `EncryptionKeyAlgorithmT` enum
  app/pm/api/routes/api/v1/issue/comment.py
  app/pm/api/routes/api/v1/project.py
  app/pm/api/routes/api/v1/settings/encryption_key.py
  app/pm/api/views/encryption.py
  app/pm/api/views/issue.py
  app/pm/models/_encryption.py
  app/pm/models/issue.py
  app/tests/api/test_api.py
  app/tests/utils/encryption.py
Due: lint, bandit

tests: update x25519 decryption to use private key bytes
  app/tests/api/test_api.py
  app/tests/utils/encryption.py
Due: lint, bandit

Add support for querying issues by ID
  app/pm/api/issue_query/search.py
Due: lint, bandit

Add sorting by built-in fields
  app/pm/api/issue_query/sort.py
Due: lint, bandit

Add API endpoint to fetch select options for custom field groups
  app/pm/api/routes/api/v1/custom_field.py
  app/pm/api/views/custom_fields.py
Due: lint, bandit

Personals keys creation and editing
  frontend/src/modules/profile/hooks.tsx
  frontend/src/modules/profile/tabs/keys/keys.tsx
  frontend/src/modules/profile/utils.ts
  frontend/src/modules/profile/view.tsx
  frontend/src/routes/_authenticated/profile/index.tsx
  frontend/src/store/api/encryption_keys.api.ts
  frontend/src/store/api/group.api.ts
  frontend/src/store/api/index.ts
  frontend/src/store/crypto.tsx
  frontend/src/store/store.ts
  frontend/src/types/encryption_keys.ts
  frontend/src/types/index.ts
  frontend/src/utils/crypto.ts
Due: prettier

Refactor admin view lists
  app/pm/api/routes/api/v1/custom_field.py
  app/pm/api/routes/api/v1/group.py
  app/pm/api/routes/api/v1/role.py
  frontend/src/i18n/locales/en.json
  frontend/src/modules/custom_fields/list.tsx
  frontend/src/modules/groups/list.tsx
  frontend/src/modules/roles/list.tsx
  frontend/src/modules/users/list.tsx
Due: lint, bandit, prettier

Project keys creating
  frontend/src/features/user_group_select/user_group_select_popover.tsx
  frontend/src/i18n/locales/en.json
  frontend/src/modules/projects/components/create_project_form.tsx
  frontend/src/modules/projects/components/general_info.tsx
  frontend/src/modules/projects/components/project_access.tsx
  frontend/src/modules/projects/components/project_card.tsx
  frontend/src/modules/projects/components/project_custom_fields.tsx
  frontend/src/modules/projects/components/project_encryption_tab/main_info.tsx
  frontend/src/modules/projects/components/project_encryption_tab/project_encryption_tab.tsx
  frontend/src/modules/projects/components/project_encryption_tab/users_table.tsx
  frontend/src/modules/projects/components/project_form.tsx
  frontend/src/modules/projects/components/project_list_view.tsx
  frontend/src/modules/projects/components/project_workflows.tsx
  frontend/src/modules/projects/create.tsx
  frontend/src/modules/projects/utils.ts
  frontend/src/modules/projects/view.tsx
  frontend/src/store/api/project.api.ts
  frontend/src/types/project.ts
  frontend/src/utils/helpers/download-file.ts
Due: prettier

fix encryption_settings handling in project update
  app/pm/api/routes/api/v1/project.py
Due: lint, bandit

frontend: project creation form: update label text to reference attachment encryption
  frontend/src/i18n/locales/en.json
  frontend/src/modules/projects/components/create_project_form.tsx
Due: prettier

Little table fix
  frontend/src/i18n/locales/en.json
  frontend/src/modules/agile_boards/list.tsx
  frontend/src/modules/projects/components/project_card.tsx
  frontend/src/modules/projects/components/project_encryption_tab/users_table.tsx
  frontend/src/modules/projects/components/project_form.tsx
  frontend/src/modules/projects/components/project_subscribe_button.tsx
  frontend/src/modules/projects/list.tsx
  frontend/src/modules/projects/view.tsx
  frontend/src/utils/query.ts
Due: prettier

Add slug history and validation with project slug updates
  app/pm/api/routes/api/v1/project.py
  app/pm/models/issue.py
  app/pm/models/project.py
Due: lint, bandit

Refactor issue project reassignment handling
  app/pm/api/routes/api/v1/issue/issue.py
  app/pm/models/issue.py
Due: lint, bandit

Upgrade python packages
  app/poetry.lock
Due: none

Add encryption global key support
  app/pm/api/routes/api/v1/project.py
  app/pm/api/views/encryption.py
  app/pm/config.py
  app/pm/enums.py
  app/pm/models/_encryption.py
Due: lint, bandit

Types and whatever
  frontend/package.json
  frontend/src/components/file_preview.tsx
  frontend/src/components/index.ts
  frontend/src/components/layout.tsx
  frontend/src/i18n/locales/en.json
  frontend/src/modules/agile_boards/components/board_view_list.tsx
  frontend/src/modules/agile_boards/hooks/use-view-navbar-settings.tsx
  frontend/src/modules/issues/components/issue/components/issue_attachments.tsx
  frontend/src/modules/issues/components/issue/components/issue_form.tsx
  frontend/src/modules/issues/components/issue/issue_modal.tsx
  frontend/src/modules/issues/components/issue/issue_view.tsx
  frontend/src/modules/issues/components/list/issue_row/issue_row.styles.tsx
  frontend/src/modules/issues/components/list/issue_row/issue_row.tsx
  frontend/src/modules/issues/components/list/issue_row/issue_row.types.ts
  frontend/src/modules/issues/components/list/issue_row/update_time.tsx
  frontend/src/modules/issues/components/list/issues_list.tsx
  frontend/src/modules/issues/components/list/issues_list.types.ts
  frontend/src/modules/issues/pages/draft.tsx
  frontend/src/modules/issues/pages/list.tsx
  frontend/src/modules/issues/pages/view.tsx
  frontend/src/modules/issues/widgets/modal_view/modal_view_draft.tsx
  frontend/src/modules/issues/widgets/modal_view/modal_view_issue.tsx
  frontend/src/modules/issues/widgets/modal_view/modal_view_provider.tsx
  frontend/src/modules/profile/tabs/keys/keys.tsx
  frontend/src/modules/projects/create.tsx
  frontend/src/routes/__root.tsx
  frontend/src/routes/_authenticated.tsx
  frontend/src/routes/_authenticated/issues/index.tsx
  frontend/src/store/api/custom_fetch_base.ts
  frontend/src/store/api/project.api.ts
  frontend/src/types/backend-schema.gen.d.ts
  frontend/src/types/encryption_keys.ts
  frontend/src/utils/crypto.ts
  frontend/src/utils/helpers/make-falsy-undefined.ts
  frontend/src/utils/helpers/remove-undefined.ts
  frontend/src/utils/helpers/serialize-params.ts
  frontend/src/utils/query.ts
  frontend/src/widgets/search_select/tabs/access.tsx
  frontend/yarn.lock
Due: prettier

Complete file upload remake
  frontend/src/modules/issues/components/issue/components/comment_card.tsx
  frontend/src/modules/issues/components/issue/components/create_comment_form.tsx
  frontend/src/modules/issues/components/issue/components/issue_attachments.tsx
  frontend/src/modules/issues/utils.tsx
  frontend/src/widgets/file_upload/useFileUploader.tsx
  frontend/src/widgets/file_upload/useUploadToastManager.tsx
Due: prettier

Comment file paste
  frontend/src/App.tsx
  frontend/src/components/md_editor/md_editor.tsx
  frontend/src/modules/issues/components/issue/components/create_comment_form.tsx
  frontend/src/modules/issues/components/issue/components/issue_attachments.tsx
  frontend/src/widgets/file_upload/useUploadToastManager.tsx
Due: prettier

Comment file paste
  frontend/src/modules/issues/components/issue/components/create_comment_form.tsx
Due: prettier

Add unit tests for sort by in issue query (CF, builtin fields, multiple conditions)
  app/tests/mongo_filter/test_sort.py
Due: lint, bandit

Add patch for Beanie to enable ordered fetching of links
  app/pm/api/app.py
  app/pm/patches/__init__.py
  app/pm/patches/beanie_links.py
Due: lint, bandit

Refactor custom field output models for better OpenAPI schema generation
  app/pm/api/routes/api/v1/custom_field.py
  app/pm/api/routes/api/v1/project.py
  app/pm/api/views/custom_fields.py
Due: lint, bandit

Add project association to custom fields output
  app/pm/api/routes/api/v1/custom_field.py
  app/pm/api/routes/api/v1/project.py
  app/pm/api/views/custom_fields.py
  app/pm/api/views/project.py
  app/pm/models/__init__.py
  app/pm/models/custom_fields/__init__.py
  app/pm/models/custom_fields/_base.py
  app/tests/api/custom_fields.py
  app/tests/api/test_api.py
Due: lint, bandit
