Repository Star-Solution-FZCO/snail-orbit: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint, bandit, prettier

lint:
  name: lint
  language: system
  entry: python3 app/lint.py

bandit:
  name: bandit
  language: system
  pass_filenames: false
  entry: bandit -c app/pyproject.toml -r app

prettier:
  name: prettier
  language: system
  pass_filenames: false
  entry: yarn --cwd frontend prettier

feat: add comprehensive user documentation system
  docs/Dockerfile
  docs/contrib/icon.png
  docs/contrib/nginx.conf
  docs/contrib/quartz.config.ts
  docs/contrib/quartz.layout.ts
  docs/user/custom_fields_system.md
  docs/user/index.md
  docs/user/issue_query_language.md
Due: none

fix: implement comprehensive project cleanup on deletion
  app/pm/api/routes/api/v1/project.py
  app/pm/models/board.py
  app/pm/models/report.py
Due: lint, bandit

feat: add isBot prop to UserAvatar component across multiple modules
  frontend/src/features/custom_fields/form_dialogs/owned_option_form_dialog.tsx
  frontend/src/features/custom_fields/options_editors/user_options_editor.tsx
  frontend/src/features/tags/add_tag_permission_dialog.tsx
  frontend/src/modules/dashboards/components/dashboard_access.tsx
  frontend/src/modules/dashboards/components/dashboard_list_item.tsx
  frontend/src/modules/dashboards/components/dashboard_list_popover.tsx
  frontend/src/modules/groups/components/add_group_member_dialog.tsx
  frontend/src/modules/groups/components/group_members.tsx
  frontend/src/modules/issues/components/issue/components/attachment_list_item.tsx
  frontend/src/modules/issues/components/issue/components/comment_card/comment_card_edit.tsx
  frontend/src/modules/issues/components/issue/components/comment_card/comment_card_view.tsx
  frontend/src/modules/issues/components/issue/components/comments/create_comment_form.tsx
  frontend/src/modules/issues/components/issue/components/issue_history/issue_history.tsx
  frontend/src/modules/issues/components/issue/components/permissions/add_issue_permission_dialog.tsx
  frontend/src/modules/projects/components/project_access.tsx
  frontend/src/modules/reports/components/report_list_item.tsx
  frontend/src/modules/reports/components/report_list_popover.tsx
  frontend/src/modules/users/components/user_form.tsx
  frontend/src/pages/users/list.tsx
  frontend/src/shared/i18n/locales/en.json
  frontend/src/shared/model/types/user.ts
  frontend/src/shared/ui/md_editor/plugins/mentions_plaintext_plugin.tsx
  frontend/src/shared/ui/md_editor/plugins/mentions_plugin.tsx
  frontend/src/shared/ui/md_renderer/mention_renderer.tsx
Due: prettier

refactor: use project slug instead of ID in available custom fields selector
  frontend/src/modules/projects/components/project_custom_fields_tab/project_available_custom_field_list.tsx
Due: prettier

feat: add delete report functionality with confirmation dialog
  frontend/src/pages/reports/components/delete_report_dialog.tsx
  frontend/src/pages/reports/components/reports_top_bar.tsx
  frontend/src/pages/reports/view.tsx
  frontend/src/shared/i18n/locales/en.json
  frontend/src/shared/model/api/dashboard.api.ts
  frontend/src/shared/model/api/report.api.ts
Due: prettier

front: replace error pages images
  frontend/src/shared/assets/images/cat_broken_shell.png
  frontend/src/shared/assets/images/cat_snail_questions.png
  frontend/src/shared/assets/images/cats_no_connection.png
  frontend/src/shared/assets/images/page_not_found.png
  frontend/src/shared/ui/error_fallback.tsx
  frontend/src/shared/ui/not_found.tsx
Due: prettier

feat: implement AutoLinkPlugin for enhanced link detection in VisualEditor
  frontend/src/shared/ui/md_editor/editors/visual.tsx
  frontend/src/shared/ui/md_editor/plugins/auto_link_plugin.tsx
Due: prettier

fix: adjust margin-top style for subject TextField in DraftForm component
  frontend/src/modules/issues/components/issue/draft_view.tsx
Due: prettier

dev: update docker-compose.yaml.example
  .docker/docker-compose.yaml.example
Due: none

Draft small enhancements
  frontend/src/modules/issues/components/issue/components/draft_form.tsx
  frontend/src/modules/issues/components/issue/draft_modal.tsx
  frontend/src/modules/issues/components/issue/draft_view.tsx
  frontend/src/modules/issues/components/issue/issue_modal.tsx
Due: prettier

Disable text transform uppercase
  frontend/src/modules/issues/components/issue/components/draft_form.tsx
  frontend/src/shared/theme/theme.ts
Due: prettier

Add docs link
  frontend/src/shared/i18n/locales/en.json
  frontend/src/shared/ui/navbar/components/user_menu_button.tsx
Due: prettier

feat: add sort functionality to query builder endpoint
  app/openapi.json
  app/pm/api/routes/api/v1/issue/filters.py
  app/pm/api/views/query_builder.py
  app/tests/api/test_query_builder.py
Due: lint, bandit

refactor: remove obsolete parse-query and build-query endpoints
  app/openapi.json
  app/pm/api/routes/api/v1/issue/filters.py
  frontend/src/shared/model/api/issue.api.ts
Due: lint, bandit, prettier

docs: improve sorting examples and document default behavior
  docs/user/issue_query_language.md
Due: none

fix: update UserAvatar component to use primary dark background and set icon color to white
  frontend/src/shared/ui/user_avatar.tsx
Due: prettier

fix: add title attributes to subject and description in AgileCard for better accessibility
  frontend/src/modules/agile_boards/components/agile_card.tsx
  frontend/src/shared/ui/user_avatar.tsx
Due: prettier

Remember last chosen link type
  frontend/src/modules/issues/components/issue/components/issue_links/add_links.tsx
Due: prettier

query builder sorting
  frontend/src/shared/i18n/locales/en.json
  frontend/src/widgets/query_builder/add_sort_field_button.tsx
  frontend/src/widgets/query_builder/query_builder.tsx
  frontend/src/widgets/query_builder/query_builder_sort_parser.tsx
  frontend/src/widgets/query_builder/utils.tsx
Due: prettier

feat: enhance query builder with improved sorting functionality and UI updates
  frontend/src/shared/i18n/locales/en.json
  frontend/src/shared/model/types/custom_fields.ts
  frontend/src/widgets/query_builder/add_sort_field_button.tsx
  frontend/src/widgets/query_builder/query_builder.tsx
  frontend/src/widgets/query_builder/query_builder_sort_parser.tsx
  frontend/src/widgets/query_builder/utils.tsx
Due: prettier

fix: improve ID field sorting to use issue aliases with numeric ordering
  app/pm/api/issue_query/sort.py
  app/tests/mongo_filter/test_sort.py
Due: lint, bandit

feat: add OCR microservice for text extraction from images
  services/ocr/.gitignore
  services/ocr/CLAUDE.md
  services/ocr/Dockerfile
  services/ocr/README.md
  services/ocr/ocr/__init__.py
  services/ocr/ocr/config.py
  services/ocr/ocr/constants.py
  services/ocr/ocr/worker.py
  services/ocr/pyproject.toml
  services/ocr/uv.lock
Due: lint, bandit

refactor: improve OCR integration with encryption-aware processing and NATS microservice
  app/Dockerfile
  app/manage.py
  app/pm/api/events_bus.py
  app/pm/api/routes/api/v1/issue/comment.py
  app/pm/api/routes/api/v1/issue/issue.py
  app/pm/cli/ocr.py
  app/pm/config.py
  app/pm/ocr/__init__.py
  app/pm/ocr/app.py
  app/pm/ocr/config.py
  app/pm/tasks/actions/ocr_process.py
  app/pm/tasks/app.py
  app/pm/utils/events_bus.py
  app/pm/utils/ocr_client.py
  app/poetry.lock
  app/pyproject.toml
  app/tests/api/acl/test_acl_issue_permissions.py
  app/tests/api/acl/test_acl_project_permissions.py
  app/tests/api/acl/test_inheritance_endpoints.py
  app/tests/api/create.py
  app/tests/api/test_api.py
  app/tests/api/test_issue_attachments.py
  app/tests/api/test_issue_permissions.py
Due: lint, bandit

feat: enhance CreateAgileBoardForm with validation and improved UI elements
  frontend/src/modules/agile_boards/components/create_agile_board_form/create_agile_board_form.tsx
  frontend/src/modules/agile_boards/components/create_agile_board_form/form_values_to_api_data.ts
  frontend/src/shared/i18n/locales/en.json
Due: prettier

fix: use email instead of name for MD editor mentions to prevent duplicate users
  frontend/src/shared/ui/md_editor/plugins/mentions_plugin.tsx
Due: prettier

fix: serialization of history records
  app/pm/models/custom_fields/__init__.py
Due: lint, bandit

feat: add support for additional custom field types in notifications
  app/pm/tasks/actions/notify.py
  app/pm/utils/dateutils.py
Due: lint, bandit

fix: improve query construction in IssueList for better filtering and sorting
  frontend/src/pages/issues/list.tsx
Due: prettier

feat: improve sorting in issue link target selection endpoint
  app/pm/api/context.py
  app/pm/api/helpers/user.py
  app/pm/api/routes/api/v1/issue/issue.py
  app/pm/utils/cache/serializers.py
  app/pm/utils/document.py
Due: lint, bandit

fix: issue list didn't update on tag click
  frontend/src/pages/issues/list.tsx
Due: prettier

fix: improve number parsing in issue query and add comprehensive enum field number tests
  app/pm/api/issue_query/__init__.py
  app/pm/api/issue_query/search.py
  app/tests/search/test_search.py
Due: lint, bandit

feat: add links to corresponding searches to all custom field selectors
  frontend/src/entities/custom_fields/date_chip.tsx
  frontend/src/features/custom_fields/custom_field_search_link.tsx
  frontend/src/features/custom_fields/custom_fields_chip_parser.tsx
  frontend/src/modules/agile_boards/components/agile_card.tsx
  frontend/src/modules/issues/components/issue/components/draft_custom_fields.tsx
  frontend/src/modules/issues/components/issue/components/issue_custom_fields.tsx
  frontend/src/modules/issues/components/issue/components/issue_custom_fields_chips.tsx
  frontend/src/shared/model/mappers/issue.ts
Due: prettier

editor styles fix & md renderer refactoring
  frontend/src/features/custom_fields/custom_field_search_link.tsx
  frontend/src/shared/ui/md_editor/hooks/use-editor-styles.ts
  frontend/src/shared/ui/md_renderer/components.tsx
  frontend/src/shared/ui/md_renderer/md_renderer.tsx
  frontend/src/shared/ui/md_renderer/md_wrapper.ts
Due: prettier

feat: implement checklist functionality in MarkdownRenderer and CommentCard components
  frontend/src/modules/issues/components/issue/components/comment_card/comment_card.tsx
  frontend/src/modules/issues/components/issue/components/comment_card/comment_card_view.tsx
  frontend/src/modules/issues/components/issue/components/issue_form.tsx
  frontend/src/shared/ui/md_editor/hooks/use-editor-styles.ts
  frontend/src/shared/ui/md_renderer/components.tsx
  frontend/src/shared/ui/md_renderer/md_renderer.tsx
Due: prettier

feat: add #closed and #open hashtag search filters
  app/pm/api/issue_query/search.py
  app/tests/search/test_search.py
  docs/user/issue_query_language.md
  frontend/src/shared/i18n/locales/en.json
  frontend/src/widgets/query_builder/utils/get-query-builder-name.ts
Due: lint, bandit, prettier

feat: add resolved_at and closed_at field search and sort support
  app/pm/api/issue_query/search.py
  app/pm/api/issue_query/sort.py
  app/pm/api/routes/api/v1/issue/filters.py
  app/tests/mongo_filter/test_sort.py
  app/tests/search/test_search.py
  docs/user/issue_query_language.md
  frontend/src/shared/i18n/locales/en.json
  frontend/src/widgets/query_builder/utils/get-query-builder-name.ts
Due: lint, bandit, prettier

feat: Fancier errors
  frontend/src/app/routes/_authenticated/agiles/$boardId.tsx
  frontend/src/modules/custom_fields/components/custom_field_edit_view.tsx
  frontend/src/pages/agile_boards/view.tsx
  frontend/src/pages/custom_fields/list.tsx
  frontend/src/pages/custom_fields/view.tsx
  frontend/src/pages/dashboards/view.tsx
  frontend/src/pages/global_roles/list.tsx
  frontend/src/pages/global_roles/view.tsx
  frontend/src/pages/groups/list.tsx
  frontend/src/pages/groups/view.tsx
  frontend/src/pages/issues/draft.tsx
  frontend/src/pages/issues/view.tsx
  frontend/src/pages/profile/view.tsx
  frontend/src/pages/projects/view.tsx
  frontend/src/pages/roles/list.tsx
  frontend/src/pages/roles/view.tsx
  frontend/src/pages/users/list.tsx
  frontend/src/pages/users/view.tsx
  frontend/src/pages/workflows/list.tsx
  frontend/src/pages/workflows/view.tsx
  frontend/src/shared/i18n/locales/en.json
  frontend/src/shared/ui/error_fallback.tsx
  frontend/src/shared/ui/error_handler.tsx
Due: prettier

feat: Mark agile card issue links as resolved
  frontend/src/modules/agile_boards/components/agile_card.tsx
Due: prettier

dev: add release_diff.py helper script for analyzing commit diff between master and release
  contrib/helpers/release_diff.py
Due: lint, bandit

Path conditions:
  lint: any of: \.py$
  bandit: any of: \.py$
  prettier: any of: ^frontend/
