Repository Star-Solution-FZCO/snail-orbit: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint, bandit, prettier

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: ruff-fix
        name: ruff-fix
        language: system
        entry: ruff check --fix app
        types_or: [ python, pyi ]
      - id: ruff-format
        name: ruff-format
        language: system
        entry: ruff format --no-cache app
        types_or: [ python, pyi ]
      - id: lint
        name: lint
        language: system
        entry: python3 app/lint.py
        types: [ python ]
      - id: bandit
        name: bandit
        language: system
        pass_filenames: false
        entry: bandit -c app/pyproject.toml -r app
        types: [ python ]
      - id: prettier
        name: prettier
        language: system
        pass_filenames: false
        entry: yarn --cwd frontend prettier
        files: '^frontend/'
      - id: gen-openapi-schema
        name: gen-openapi-schema
        language: system
        pass_filenames: false
        entry: python3 app/manage.py api openapi gen -o app/openapi.json
        types_or: [ python, pyi ]
  - repo: https://github.com/gitleaks/gitleaks
    rev: v8.21.2
    hooks:
      - id: gitleaks

feat: implement universal cache utilities
  app/pm/utils/cache/__init__.py
  app/pm/utils/cache/config.py
  app/pm/utils/cache/decorators.py
  app/pm/utils/cache/provider.py
  app/pm/utils/cache/redis.py
  app/pm/utils/cache/registry.py
Due: lint, bandit

feat: enable cache system in application
  app/pm/api/app.py
  app/pm/cache.py
  app/pm/config.py
Due: lint, bandit

feat: implement ACL permissions caching
  app/pm/api/context.py
Due: lint, bandit

feat: add POST /api/v1/issue/list endpoint for fetching issues by IDs
  app/openapi.json
  app/pm/api/routes/api/v1/issue/issue.py
  app/tests/api/acl/test_acl_issue_permissions.py
  app/tests/api/test_api.py
Due: lint, bandit

dashboard report widget
  frontend/src/modules/dashboards/widgets/base.tsx
  frontend/src/modules/dashboards/widgets/heading.tsx
  frontend/src/modules/dashboards/widgets/report_widget.tsx
  frontend/src/modules/dashboards/widgets/reports_select.tsx
  frontend/src/modules/dashboards/widgets/utils.ts
  frontend/src/modules/dashboards/widgets/widget_renderer.tsx
  frontend/src/modules/reports/components/report_view_widget/report_view_widget.tsx
  frontend/src/shared/i18n/locales/en.json
  frontend/src/shared/model/types/dashboard.ts
Due: prettier

feat: add report widget to dashboard system
  app/openapi.json
  app/pm/api/routes/api/v1/dashboard.py
  app/pm/api/views/report.py
  app/pm/models/dashboard.py
  app/pm/models/report.py
  app/tests/api/test_dashboard_api.py
  frontend/src/modules/dashboards/components/dashboard_widgets.tsx
  frontend/src/modules/dashboards/widgets/heading.tsx
  frontend/src/modules/dashboards/widgets/issue_list_widget.tsx
  frontend/src/modules/dashboards/widgets/report_widget.tsx
  frontend/src/modules/dashboards/widgets/reports_select.tsx
  frontend/src/modules/dashboards/widgets/widget_form_dialog.tsx
  frontend/src/pages/agile_boards/view.tsx
  frontend/src/pages/dashboards/view.tsx
  frontend/src/shared/i18n/locales/en.json
  frontend/src/shared/model/types/dashboard.ts
Due: lint, bandit, prettier

feat: add Sprint custom field type with search integration
  app/openapi.json
  app/pm/api/issue_query/search.py
  app/pm/api/routes/api/v1/custom_field.py
  app/pm/api/views/custom_fields.py
  app/pm/models/__init__.py
  app/pm/models/custom_fields/__init__.py
  app/pm/models/custom_fields/_base.py
  app/pm/models/custom_fields/sprint_cf.py
  app/tests/api/custom_fields.py
  app/tests/api/test_api.py
  app/tests/api/test_attachment.py
  app/tests/search/test_search.py
Due: lint, bandit

Custom fields improvements
  frontend/src/entities/custom_fields/date_field.tsx
  frontend/src/entities/custom_fields/enum_field.tsx
  frontend/src/entities/custom_fields/input_field.tsx
  frontend/src/entities/custom_fields/user_field.tsx
  frontend/src/features/custom_fields/custom_fields_parser.tsx
  frontend/src/modules/issues/components/issue/components/issue_custom_fields.tsx
  frontend/src/shared/model/mappers/issue.ts
  frontend/src/shared/model/types/custom_fields.ts
  frontend/src/shared/ui/fields/form_autocomplete/form_autocomplete_content.tsx
  frontend/src/shared/ui/fields/form_date/form_date.tsx
  frontend/src/shared/ui/fields/form_date/form_date_content.tsx
  frontend/src/shared/ui/fields/form_date/form_datetime_content.tsx
  frontend/src/shared/ui/fields/form_duration/form_duration.tsx
  frontend/src/shared/ui/fields/form_input/form_input.tsx
  frontend/src/shared/ui/spent_time_field.tsx
Due: prettier

feat: add issue attachment management endpoints
  app/openapi.json
  app/pm/api/routes/api/v1/issue/issue.py
  app/pm/api/views/issue.py
  app/tests/api/test_issue_attachments.py
Due: lint, bandit

fix: ensure custom field links are fetched properly
  app/pm/api/routes/api/v1/custom_field.py
Due: lint, bandit

sprint custom field admin ui
  frontend/src/features/custom_fields/form_dialogs/sprint_option_form_dialog.tsx
  frontend/src/features/custom_fields/options_editors/enum_options_editor.tsx
  frontend/src/features/custom_fields/options_editors/field_type_editor.tsx
  frontend/src/features/custom_fields/options_editors/owned_options_editor.tsx
  frontend/src/features/custom_fields/options_editors/sprint_options_editor.tsx
  frontend/src/features/custom_fields/options_editors/state_options_editor.tsx
  frontend/src/features/custom_fields/utils.ts
  frontend/src/modules/custom_fields/components/custom_field_edit_view.tsx
  frontend/src/modules/dashboards/widgets/report_widget.tsx
  frontend/src/modules/dashboards/widgets/reports_select.tsx
  frontend/src/shared/i18n/locales/en.json
  frontend/src/shared/model/api/custom_fields.api.ts
  frontend/src/shared/model/types/custom_fields.ts
Due: prettier

feat: enhance link behavior and add refetch options for project custom fields
  frontend/src/modules/projects/components/project_custom_fields_tab/bundle.tsx
  frontend/src/modules/projects/components/project_custom_fields_tab/project_available_custom_field_list.tsx
  frontend/src/modules/projects/components/project_custom_fields_tab/project_custom_fields.tsx
Due: prettier

Swimlanes null values fix
  frontend/src/modules/agile_boards/components/agile_board.tsx
  frontend/src/modules/agile_boards/components/agile_board_form/components/columns_form.tsx
  frontend/src/modules/agile_boards/components/agile_board_form/components/options_select_popover.tsx
  frontend/src/modules/agile_boards/components/agile_board_form/components/swimlanes_form.tsx
  frontend/src/modules/agile_boards/components/agile_board_form/helpers/options.ts
  frontend/src/modules/agile_boards/utils/formValuesToCreateForm.ts
  frontend/src/modules/agile_boards/utils/useFormatBoardIssues.tsx
  frontend/src/shared/model/types/agile_board.ts
Due: prettier

feat: add support for sprint and sprint_multi custom fields in various components
  app/openapi.json
  app/pm/api/views/issue.py
  frontend/src/features/custom_fields/custom_fields_chip_parser.tsx
  frontend/src/features/custom_fields/custom_fields_parser.tsx
  frontend/src/modules/issues/components/issue/components/issue_history/field_changes.tsx
  frontend/src/shared/i18n/locales/en.json
  frontend/src/shared/model/mappers/issue.ts
Due: lint, bandit, prettier

refactor: implement contextual logging system with ContextVar integration
  app/pm/api/app.py
  app/pm/api/context.py
  app/pm/api/logging/__init__.py
  app/pm/api/logging/context.py
  app/pm/api/middleware/__init__.py
  app/pm/api/middleware/request_id.py
  app/pm/api/middleware/request_logging.py
  app/pm/api/request_ctx.py
  app/pm/cli/api.py
  app/pm/cli/tasks.py
  app/pm/config.py
  app/pm/db/__init__.py
  app/pm/db/version.py
  app/pm/logging/__init__.py
  app/pm/logging/config.py
  app/pm/logging/context.py
  app/pm/logging/formatters.py
  app/pm/logging/middleware.py
  app/pm/logging/setup.py
  app/pm/logging/structured.py
  app/pm/tasks/actions/notify.py
  app/pm/tasks/actions/send_email.py
  app/pm/tasks/batch_processor.py
  app/pm/tasks/logging/__init__.py
  app/pm/tasks/logging/context.py
Due: lint, bandit

feat: replace individual date pickers with a date range picker in SprintOptionFormDialog
  frontend/package.json
  frontend/pnpm-lock.yaml
  frontend/src/features/custom_fields/form_dialogs/sprint_option_form_dialog.tsx
  frontend/src/features/custom_fields/options_editors/sprint_options_editor.tsx
  frontend/src/shared/ui/daterange/daterange.styles.tsx
  frontend/src/shared/ui/daterange/daterange.tsx
  frontend/src/shared/ui/daterange/index.ts
Due: prettier

refactor: simplify Sprint CF to only use start/end dates
  app/openapi.json
  app/pm/api/views/custom_fields.py
  app/pm/models/custom_fields/sprint_cf.py
  app/tests/api/custom_fields.py
  app/tests/api/test_api.py
Due: lint, bandit

feat: make favicon and app title configurable via environment variables
  frontend/contrib/logo.psd
  frontend/env.template.js
  frontend/public/favicon-dev.ico
  frontend/public/favicon-pink.ico
  frontend/public/favicon-purple.ico
  frontend/public/favicon-red.ico
  frontend/public/favicon-test.ico
  frontend/public/favicon-yellow.ico
  frontend/public/logo-dev.png
  frontend/public/logo-test.png
  frontend/src/app/config.ts
  frontend/src/pages/auth/auth.tsx
  frontend/src/pages/auth/auth_mfa.tsx
  frontend/src/pages/auth/password_reset.tsx
  frontend/src/shared/ui/page_title.tsx
  frontend/src/vite-env.d.ts
Due: prettier

feat: replace bump_version.py with version_mgmt.py and add RC support
  contrib/helpers/bump_version.py
  contrib/helpers/version_mgmt.py
Due: lint, bandit

feat: enhance attachment handling by adding support for IssueAttachmentWithSourceT and updating related components
  frontend/src/modules/issues/components/issue/components/attachment_cards.tsx
  frontend/src/modules/issues/components/issue/components/attachments_list.tsx
  frontend/src/modules/issues/components/issue/components/comment_card/comment_card.tsx
  frontend/src/modules/issues/components/issue/components/comment_card/comment_card_edit.tsx
  frontend/src/modules/issues/components/issue/components/issue_attachments.tsx
  frontend/src/shared/model/api/issue.api.ts
  frontend/src/shared/model/types/issue.ts
Due: prettier

feat: add Sprint field support to query builder, reports, and board API types
  app/openapi.json
  app/pm/api/routes/api/v1/board.py
  app/pm/api/routes/api/v1/issue/filters.py
  app/pm/api/routes/api/v1/report.py
  app/pm/api/views/query_builder.py
Due: lint, bandit

feat: add styles for nested list items in the editor
  frontend/src/shared/ui/md_editors/v2/hooks/use-editor-styles.ts
Due: prettier

feat: implement generic batch operations for issue attachments
  app/openapi.json
  app/pm/api/routes/api/v1/issue/issue.py
  app/pm/api/views/issue.py
  app/pm/api/views/output.py
  app/tests/api/test_issue_attachments.py
Due: lint, bandit

update authlib (CVE-2025-61920)
  app/poetry.lock
Due: none

refactor: implement typed custom field value system with discriminated unions for Issue model
  app/pm/api/routes/api/v1/board.py
  app/pm/api/routes/api/v1/issue/issue.py
  app/pm/api/views/custom_fields.py
  app/pm/api/views/issue.py
  app/pm/models/custom_fields/__init__.py
  app/pm/models/issue.py
Due: lint, bandit

fix: Sprint CF in columns,swimlanes,reports,qb
  frontend/src/modules/agile_boards/utils/useFormatBoardIssues.tsx
  frontend/src/modules/reports/components/report_view_widget/utils.ts
  frontend/src/widgets/query_builder/query_builder_fields_parser.tsx
Due: prettier

feat: add comprehensive encryption utilities with AES-GCM, RSA, and X25519 support
  app/manage.py
  app/pm/cli/encryption.py
  app/pm/utils/encryption.py
  app/tests/test_encryption_utils.py
Due: lint, bandit

added "local" column to user key list
  frontend/src/modules/profile/tabs/keys/keys.tsx
  frontend/src/shared/i18n/locales/en.json
  frontend/src/shared/ui/md_editors/v2/hooks/use-editor-styles.ts
Due: prettier

feat: enhance attachment handling with batch create and delete functionality, update selection logic, and improve toast notifications
  frontend/src/modules/issues/components/issue/components/attachment_cards.tsx
  frontend/src/modules/issues/components/issue/components/attachment_list_item.tsx
  frontend/src/modules/issues/components/issue/components/issue_attachments.tsx
  frontend/src/shared/model/api/issue.api.ts
  frontend/src/widgets/file_upload/useUploadToastManager.tsx
Due: prettier

feat: add project filtering and board select endpoints for custom fields
  app/openapi.json
  app/pm/api/routes/api/v1/board.py
  app/pm/api/routes/api/v1/custom_field.py
  app/tests/api/test_board_api.py
  app/tests/api/test_custom_field_api.py
Due: lint, bandit

feat: enhance issue permissions with inheritance auto-copy and inherited permissions display
  app/openapi.json
  app/pm/api/routes/api/v1/issue/issue.py
  app/tests/api/acl/test_acl_issue_permissions.py
  app/tests/api/acl/test_inheritance_endpoints.py
  app/tests/api/test_issue_permissions.py
Due: lint, bandit

feat: update frontend to support enhanced issue permissions inheritance
  frontend/src/modules/issues/components/issue/components/permissions/issue_permissions_list.tsx
  frontend/src/shared/model/api/issue.api.ts
Due: prettier

Encryption fixes
  frontend/src/app/App.tsx
  frontend/src/app/routes/_authenticated.tsx
  frontend/src/modules/issues/components/issue/components/comment_card/comment_card.tsx
  frontend/src/modules/issues/components/issue/components/issue_attachments.tsx
  frontend/src/modules/issues/components/issue/draft_modal.tsx
  frontend/src/modules/issues/components/issue/draft_view.tsx
  frontend/src/modules/issues/components/issue/issue_modal.tsx
  frontend/src/modules/issues/components/issue/issue_view.tsx
  frontend/src/modules/issues/widgets/modal_view/modal_view_draft.tsx
  frontend/src/modules/issues/widgets/modal_view/modal_view_issue.tsx
  frontend/src/modules/projects/components/create_project_form.tsx
  frontend/src/pages/issues/draft.tsx
  frontend/src/pages/issues/view.tsx
  frontend/src/pages/projects/create.tsx
  frontend/src/shared/i18n/locales/en.json
  frontend/src/shared/ui/lightbox/index.tsx
Due: prettier

Empty enum fix
  frontend/src/modules/agile_boards/components/agile_board_form/components/swimlanes_form.tsx
  frontend/src/modules/agile_boards/utils/formValuesToCreateForm.ts
  frontend/src/modules/agile_boards/utils/useFormatBoardIssues.tsx
Due: prettier

fix: empty swimlane order
  app/pm/api/routes/api/v1/board.py
Due: lint, bandit
